[2016-05-31 09:39] viewizard opened #1 "[Priority-low] Icons cache update issue"
I tested your icons in portage package system (Gentoo) with local ebuild, and found, that the gtk icon cache update utility don't like icons with space(s) in the name (can't create icons cache file). Here is some icons I found (I could miss some, so, please, also check it by yourself):

/apps/scalable/Amazon Cloud Reader-read.amazon.com.svg
/apps/scalable/Google docs-docs.google.com.svg
/apps/scal

[2016-05-31 09:43] viewizard opened #2 "First "release"."
Could you please provide first "official" :-) release in "releases" with fixed download links and files? This will also help for package managers, since they need fixed file with fixed hash for it, instead of "master" git download or git-commit related downloads.

[2016-05-31 11:20] keeferrourke commented on #1
I fixed those file names and removed Launcher 2. Thanks so much for taking interest in my projects and packaging it :)

[2016-05-31 11:29] keeferrourke commented on #2
Added first released arbitrarily named v0.1.tar.gz under releases/

[2016-05-31 11:29] #2 closed

[2016-05-31 13:44] keeferrourke commented on #1
Reopening this because I was so quick to close it this morning. Possibly other file names need to be fixed, so I'm going to take a better look at this.

[2016-05-31 13:47] viewizard commented on #1
Just in time. :-)
Not file name issue, but too close, so, I post here instead of create new issue.

Just found "QA Notice" in portage (Gentoo package system) logs:
 * QA Notice: Symbolic link /usr/share/icons/la-capitaine/apps/scalable/clamav.svg points to /usr/share/icons/la-capitaine/apps/scalable/security-medium.svg which does not exist.

 * QA Notice: Symbolic link /usr/share/icons/la-capitain

[2016-05-31 14:19] keeferrourke commented on #1
Just pushed a fix for the broken clamav and clamtk symlinks; security-* icons copied over from status/scalable to apps/scalable.

[2016-05-31 14:34] viewizard opened #3 "configure.sh symlink issue with package build in sandbox"
The issue related to this line in script:
https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/configure.sh#L98
https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/configure.sh#L99

[code]

Since we build packages in sandbox, only relative paths should be used for symlinks creation (real sandboxed path will be something like):
`/var/tmp/portage/x11-themes/la-capitain

[2016-05-31 14:44] keeferrourke commented on #3
For the lines in question, I believe this should fix the issue with the symlink paths

    cd "$wd"/places/scalable

    ln -sf distributor-logo.svg ../../apps/scalable/cs-desktop.svg
    ln -sf distributor-logo.svg ../../apps/scalable/applications-system.svg

[2016-05-31 15:52] viewizard commented on #3
You made commit (https://github.com/keeferrourke/la-capitaine-icon-theme/commit/8d5090938a2afca6d811e8e3bcae20e3a42f57fb) that create
/usr/share/icons/LaCapitaine/apps/scalable/cs-desktop.svg and /usr/share/icons/LaCapitaine/apps/scalable/applications-system.svg symlink on
/usr/share/icons/LaCapitaine/apps/scalable/distributor-logo.svg target (Ubuntu logo). :-)
stat /usr/share/icons/LaCapitaine/ap

[2016-05-31 16:51] keeferrourke commented on #3
master updated with your suggested changes.

[2016-06-06 14:28] keeferrourke commented on #3
can I close this?

[2016-06-06 14:42] viewizard commented on #3
Sure.

[2016-06-06 14:42] #3 closed

[2016-07-15 20:48] somniumAeternam opened #4 "[Request] Dark version"
Hi! Very nice theme. Would it be possible, that you also provide a dark version of this icon theme?

[2016-07-16 18:05] keeferrourke commented on #4
When you suggest making a dark version of the icon theme, what exactly do you mean? Do you want the icons to have increased contrast against dark backgrounds?

Depending on your GTK theme, using the dark mode setting, the icons should still appear clearly; see the screenshot of my Nautilus window below.

![screenshot from 2016-07-16 14-01-56](https://cloud.githubusercontent.com/assets/6888381/1689

[2016-07-18 08:28] somniumAeternam commented on #4
I'm using the Plasma 5.7 Desktop from KDE and when I use a dark theme (color scheme), some icons are dark grey on dark grey background, they should be light grey.

Here is an example:

![spectacle sl7461](https://cloud.githubusercontent.com/assets/9334916/16909319/4a673814-4cd2-11e6-83ce-e509d62f762d.png)

[2016-07-18 11:47] keeferrourke commented on #4
Problem noted &ndash; I'll add this to my to-do list.

[2016-07-18 11:48] keeferrourke commented on #1
@viewizard is this still a problem?

[2016-07-18 12:36] viewizard commented on #1
I don't see any warnings/errors during cache update process for now. I think, this issue fixed for sure.

[2016-07-18 12:40] keeferrourke commented on #1
Alright, I'm going to close this for now then :smile:

[2016-07-18 12:40] #1 closed

[2016-07-23 04:30] btd1337 opened #5 "[Request] Add Terminix icon"
Create a simbolic link for Terminix.

Use xterm.svg for this.

Green on black is nice :+1:

[2016-07-24 14:28] Fenisu opened #6 "[Request] Missing redshift status and firewalld applet icons"
Redshift app has an icon but the taskbar icon isn't there. It uses the default ugly one.
The icons are:
`redshift-status-on.svg`
`redshift-status-off.svg`
The same happens with the firewalld-applet application. It uses the default firewall icon for the taskbar.
The icons are:
`firewall-applet.png`
`firewall-applet-error.png`

[2016-07-24 19:34] keeferrourke commented on #6
@Fenisu can you provide references for what these icons should look like?

[2016-07-24 19:54] keeferrourke commented on #5
@btd1337 Terminix is not packaged on either of the main distributions I use (Ubuntu and OpenSUSE), can you please provide me the name of the Terminix icon? You can find it in the .desktop file located in `/usr/share/applications` on a line that looks like this:

    Icon=xxxxxxx

I would assume I should just be linking `xterm.svg` to `terminix.svg` but sometimes applications have weird icon names.

[2016-07-25 01:53] keeferrourke opened #7 "[Problem] [Help wanted] Missing Evolution icons"
One problem I've been avoiding is the fact that Evolution, the default mail-client for GNOME-based desktops is incompletely themed in the preferences pane, and elsewhere in the ui. Below are some of the icons that need to be addressed, and suggested symbolic links.

- [x] preferences-autocompletion.svg &rarr; preferences-contacts.svg &rarr; addressbook.svg
- [x] preferences-certificates.svg [new]

[2016-07-25 04:11] btd1337 commented on #5
Icon=terminix

[2016-07-25 08:34] Fenisu commented on #6
Sorry for such a bad report.
The firewalld applet icons are those inside this directory:
https://github.com/t-woerner/firewalld/tree/qt-gui/src/icons/scalable/apps

Right now I've manually set firewall-applet.svg as the firewall-config.svg found in the package, so it looks as the firewall icon when yo usearch for firewall in Activities in Gnome3, but the firewall error should be like the same icon

[2016-07-25 16:23] keeferrourke commented on #5
Added in commit [2f2f9390](https://github.com/keeferrourke/la-capitaine-icon-theme/commit/2f29390)

apps/scalable/terminix.svg --> apps/scalable/xterm.svg

[2016-07-25 16:23] #5 closed

[2016-07-25 16:37] keeferrourke commented on #6
Added requested redshift and firewall-applet icons, this issue should be fixed in commit [590dbc9](https://github.com/keeferrourke/la-capitaine-icon-theme/commit/590dbc9).

@Fenisu You should pull the latest commits and let me know if this is fine.

[2016-07-25 21:54] keeferrourke opened #8 "ownCloud client status icons missing"
I can't seem to figure out where the ownCloud status icons are found in the hicolor theme, nor the icon names. Images in question seem to be the `state-*.png` images located in the ownCloud git repo at https://github.com/owncloud/client/tree/master/theme/colored

Testing locally, creating status icons called state-whatever don't seem to actually theme the ownCloud applet. I'm going to keep looking

[2016-07-25 21:57] keeferrourke commented on #7
Added all icons listed in above comment in commit [130cd58](https://github.com/keeferrourke/la-capitaine-icon-theme/commit/130cd58) so Evolution's interface looks a bit more complete.

I still can't find the meeting/calendar attachment icon however....

[2016-07-25 23:27] Ufeldraku opened #9 "[Mate] [unconfirmed] battery icons are not themed"
![](http://i.imgur.com/F3D8jAK.png)

[2016-07-25 23:32] keeferrourke commented on #9
gonna need the icon names mate ;)

[2016-07-25 23:33] Ufeldraku commented on #9
Huh? Could you explain.
Anyway, that was a really fast reply.

[2016-07-25 23:38] keeferrourke commented on #9
@Ufeldraku this icon set has battery and sound icons, but different desktop environments and applets use different names to reference these files.

If you want me to add support for Mate's battery and sound indicators, I need the names of these files.. or at the very least the name of the application that provides the applet.

See the README for how to submit icon requests.

[2016-07-25 23:45] Ufeldraku commented on #9
mate-volume-control-applet for the sound applet

[2016-07-25 23:50] keeferrourke commented on #9
Since I have some time right now I did a little searching and it would seem MATE doesn't use the symbolic icons typical of status indicators like battery and sound. I'll add regular versions of the same icons, but no guarantees that this is a proper fix. I'll let you know when I push the commit and I'll need you to test it out :)

[2016-07-25 23:52] Ufeldraku commented on #9
COOL
And.. Do you need the applet name of battery, because it's a program, not an applet per se :  mate-power-manager

[2016-07-25 23:58] Ufeldraku commented on #9
Ahh, I installed this from the AUR...

[2016-07-26 00:04] keeferrourke commented on #9
Updated status icons in commit [4d6c115](https://github.com/keeferrourke/la-capitaine-icon-theme/commit/4d6c115), let me know if it solves your problem :)

[2016-07-26 00:06] keeferrourke commented on #9
There's an AUR package for my theme? Cool! I'll need to check that out; it probably just pulls from this repo anyway so just update your system with `yaourt -Syu` or whatever AUR helper you're using on your system :)

[2016-07-26 00:14] Ufeldraku commented on #9
Ok, the sound applet is fine now, however the battery one still uses Adwaita.

[2016-07-26 00:47] keeferrourke commented on #9
@Ufeldraku Okay so I found a [list of all the files used in Arch's mate-power-manager])https://www.archlinux.org/packages/community/i686/mate-power-manager/files/). Not sure how up to date it is, but because it's Arch I assume its bleeding edge :stuck_out_tongue:

I've pushed a bunch more battery icon aliases based on what's listed there, so update to commit (46ef470)[https://github.com/keeferrour

[2016-07-26 00:52] Ufeldraku commented on #9
Actually, I'm using antergos, as it has the lastest mate (1.14)

[2016-07-26 00:57] keeferrourke commented on #9
@Ufeldraku Antergos is based on Arch though. The changes I made should still be relevant.

I installed mate-power-manager which works a little funny under Ubuntu's GNOME3, but it seems to be using the newly updated icons. Can you confirm?

[2016-07-26 00:58] Ufeldraku commented on #9
No, but antergos ships its own mate packages.

[2016-07-26 01:00] Ufeldraku commented on #9
Nope, nothing.

[2016-07-26 01:00] keeferrourke commented on #9
So commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/46ef470 had no effect for you, even after restarting mate-power-manager?

    killall mate-power-manager
    mate-power-manager &

[2016-07-26 01:00] Ufeldraku commented on #9
Ya, nothing

[2016-07-26 01:01] Ufeldraku commented on #9
I force it to change the icons by make the panel larger :p

[2016-07-26 01:07] keeferrourke commented on #9
Can you refresh your icon cache by selecting Adwaita and then La Capitaine, and then kill all the `mate-power-manager` processes and restart the applet just to confirm?

Use your preferred GUI tools or run this in your terminal:

    gsettings set org.gnome.desktop.interface icon-theme 'Adwaita'
    killall mate-power-manager
    gsettings set org.gnome.desktop.interface icon-theme 'la-capitaine-i

[2016-07-26 01:24] Ufeldraku commented on #9
Nah nothing, still the same
:(

[2016-07-26 01:27] keeferrourke commented on #9
@Ufeldraku I'm gonna look into this some more and see what I can do for you, I'm making this high priority.

[2016-07-26 01:38] keeferrourke commented on #9
Okay so the icons listed in mate's git repository over at https://github.com/mate-desktop/mate-power-manager/tree/master/data/icons/16x16/status match the names in https://github.com/keeferrourke/la-capitaine-icon-theme/tree/master/status/scalable ...

My suggestion would be for you to make sure you've selected La Capitaine as your icon theme, update your system, and then reboot. If the battery ap

[2016-07-26 02:06] Ufeldraku commented on #9
Ok, I'll tell you tomorrow.

[2016-07-27 00:49] keeferrourke commented on #9
@Ufeldraku Did you try my suggestions?

[2016-07-27 16:13] Ufeldraku commented on #9
Yeah, none of them worked.
However now I use GNOME; btw, I love you icon theme, keep up with the good work!

[2016-07-27 17:08] keeferrourke commented on #9
Alright thanks for trying and thanks for the compliments! :+1:

I'm still going to look into this issue tonight though.

[2016-07-27 17:10] keeferrourke commented on #6
I've tested both on my local Ubuntu installation, so I'm going to close this. If Redshift or Firewall-applet have issues on other systems, we can reopen the issue.

[2016-07-27 17:10] #6 closed

[2016-07-27 17:39] Ufeldraku commented on #9
Cool

[2016-07-28 00:51] Ufeldraku commented on #9
Installed xfce4, battery icon is Xfce's default.
Also, Chromium BSU's icon is Chromium's icon, but I think that that is kinda funny

[2016-07-28 01:00] keeferrourke opened #10 "Chromium B.S.U. uses Chromium's icon"
Chromium B.S.U.:

    Icon=chromium-bsu

Chromium:

    Icon=chromium

Chromium B.S.U. is a game, Chromium is a browser. Design a new icon for `chromium-bsu` such that it is not confused with the browser.

[2016-07-28 01:08] keeferrourke commented on #9
Regarding the Chromium vs Chromium B.S.U. icons, that really should be in a different bug report... but it is really funny! I'll get it fixed soonish. See issue: https://github.com/keeferrourke/la-capitaine-icon-theme/issues/10

@Ufeldraku XFCE's battery icons *should* be themed. Can you freshly clone this repo and double check?
[XFCE's Github](https://github.com/xfce-mirror/xfce4-power-manager/tr

[2016-07-28 14:54] Ufeldraku commented on #9
You're cool.
Gonna try my Xfce

[2016-07-28 15:01] Ufeldraku opened #11 "[Request] Icon suggestions"
MegaSync.
Jdownloader
Some of Xfce's utilities like the "Window Manager's Settings"

[2016-07-28 15:04] Ufeldraku commented on #9
Nope, It doens't work.
However, with numix-square it does use the battery icon.

[2016-07-28 15:09] keeferrourke commented on #11
Great suggestions but please leave the Icon names for each application here as well, and a reference for what each icon should look like if possible.

You'll find the name of the icons if you do:

`cat /user/share/applications/megasync.desktop | grep 'Icon='`

Replace 'megasync' with whatever the name of your application's desktop file is.

[2016-07-28 15:17] Ufeldraku commented on #11
Megasync | Icon=mega
Jdownloader | Icon=jdownloader

[2016-07-28 16:32] keeferrourke commented on #9
I haven't tested this, but check out commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/10e4023 &ndash; I think I fixed the XFCE4 battery icons. I'm not super familiar with the DE, but I think XFCE4 uses [this battery plugin](https://github.com/xfce-mirror/xfce4-battery-plugin) for its panel to display the battery status.

[2016-07-28 16:52] keeferrourke commented on #10
@Ufeldraku Chromium B.S.U. seems similar to a Space Invaders style arcade game; correct me if I'm wrong. Made a quick draft of an icon based on Numix Legacy, but I'm looking for feedback from someone who actually plays the game.

![chromium-bsu-new](https://cloud.githubusercontent.com/assets/6888381/17221403/c7a95130-54c1-11e6-8d62-4ad3dfad7534.png)

The new icon (sorry for small size png, Github

[2016-07-28 17:42] Ufeldraku commented on #10
Yeah, It's cool. The purple seems a nice touch, however, as the ship used is grey, with some blue and red.

[2016-07-28 17:43] Ufeldraku commented on #10
http://d2oah9q9xdinv5.cloudfront.net/cache/images/games/1/15/14109/crop_940x740/screenshot2.jpg
Sorry, I didn't have red. My memory is rusty.

[2016-07-28 17:45] keeferrourke commented on #10
Are the ships always vertically orientated? Should the icon reflect the actual orientation of the ships?

[2016-07-28 18:22] Ufeldraku commented on #10
Yep, it should, the ships are always vertically orientated, so yeah the icon reflecting that would be cool.

[2016-07-29 02:17] keeferrourke commented on #10
Fixed in commit 07ccf40.

[2016-07-29 02:17] #10 closed

[2016-07-29 02:48] keeferrourke commented on #11
Megasync and Jdownloader icons added in commit cf5549c.

Can I get the icon names for XFCE Window Manager Settings, and other XFCE Settings icons that are possibly unthemed?

[2016-07-29 13:59] Ufeldraku commented on #10
Looks really cool!

[2016-07-29 14:00] Ufeldraku commented on #11
Hmmmm
Gotta see my friend.

[2016-07-29 14:00] Ufeldraku commented on #11
Your work's awesome.

[2016-07-29 14:02] keeferrourke commented on #11
@Ufeldraku thanks for the kind words!

[2016-07-30 08:08] meradoou opened #12 "[request] New icons"
Hi,
I use it with KDE Plasma on arch:

- Clementine

- Umbrello

- KeepassX 2

[2016-07-30 11:28] keeferrourke commented on #12
This is a duplicate issue, please see #11 for general icon requests.

[2016-07-30 11:28] keeferrourke commented on #12
@meradoou KeePassX and KeePass2 are both themed on my system. If your system doesn't use [keepass.svg](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/apps/scalable/keepass.svg), [keepass2.svg](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/apps/scalable/keepass2.svg], or [keepassx.svg](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/app

[2016-07-30 11:32] keeferrourke commented on #12
@meradoou both of these icons exist. I'll symlink `actions/16x16/media-playlist-shuffle.svg --> actions/16x16/x-clementine-shuffle.svg` in a commit this afternoon when I get home from work.

[2016-07-30 11:34] keeferrourke commented on #12
Lastly, @meradoou when submitting icon requests, please submit the

     Icon=xxxxxxx

line of your application's *.desktop file. You can find it easily by issuing

    cat /usr/share/applications/yourapplication.desktop |  grep Icon

And also provide a reference icon if at all possible. You'll need to do this for Umbrello.

[2016-07-31 04:47] btd1337 opened #13 "[Request] Icon for WizNote"
Can you associate this icon (http://imgh.us/wiznote.svg) to Wiznote program?

Icon=wiznote

Icon for you -> http://imgh.us/wiznote.svg

[2016-07-31 04:57] btd1337 opened #14 "[Request] Icon for Briss PDF Editor"
Icon for Briss PDF Editor

Icon=briss

[2016-08-01 06:22] keeferrourke commented on #13
@btd1337 I can add an icon for Wiznote for sure, but I would rather go with something more along the lines of this:

![wiznote-draft svg](https://cloud.githubusercontent.com/assets/6888381/17285071/49afa89a-578e-11e6-82c5-475417e53e0a.png)

[wiznote-draft.svg](https://owncloud.krourke.org/index.php/s/aKCz5YyBqNDswOj)

It's much more consistent with the style of other editors and notes/documents ap

[2016-08-01 06:26] keeferrourke commented on #14
linked briss.svg --> pdfmod.svg

[2016-08-01 06:26] #14 closed

[2016-08-01 06:28] keeferrourke commented on #11
@Ufeldraku any ideas on the XFCE settings stuff?

[2016-08-01 20:53] Ufeldraku commented on #11
Gotta see man.

[2016-08-01 20:56] Ufeldraku commented on #11
No clue man

[2016-08-01 20:58] Ufeldraku commented on #11
And, by the way, the Xfce icon still is the default one.

[2016-08-01 23:01] keeferrourke commented on #11
Okay I'll look into this, but it's probably going to be a while before I can test this properly on XFCE.

[2016-08-01 23:14] fabianalexisinostroza opened #15 "Respect the original creators of icons"
ok, the artworks are GPL or CC licences, but you dont give credit to the real artworkers in your credits file.

"The creators of El General, off which La Capitaine is based https://github.com/akaifi/El-General-Gnome" // no, i'm the creator of Antu (old "El General) you link a fork not the original artworker mention

And you use super flat remix for folder icons and i don't see the mention to these

[2016-08-01 23:21] keeferrourke commented on #15
@fabianalexisinostroza I forked from that branch of the project, not Antu. You also took your project repository down. If you have a better link for me to provide in the credits file, I'll be more than happy to do so. Would a link to your Github page be sufficient?

Failure to mention Super Flat Remix is an accidental omission on my part; I'm going to fix that immediately.

[2016-08-01 23:25] fabianalexisinostroza commented on #15
for my icons use this https://github.com/fabianalexisinostroza/Antu

[2016-08-01 23:29] keeferrourke commented on #15
Perfect, thanks for helping me address the issue. I just pushed commit 716cbd9. Please let me know if this is sufficient &ndash; thanks for the amazing work that this project is based on :)

[2016-08-01 23:30] fabianalexisinostroza commented on #15
nice, this is better now ;)

[2016-08-01 23:30] #15 closed

[2016-08-02 11:19] keeferrourke commented on #13
Closing, see commit: 33170ec.

[2016-08-02 11:19] #13 closed

[2016-08-02 11:48] GrindamN opened #16 "[Bug] [Budgie DE] [Priority low] Budgie WM titlebars improperly render icons"
Some applications like terminal for example have stretched icons in their title bars. I've noticed this while using Ubuntu Budgie Remix.
![http://imgur.com/a/1Uwy0](http://i.imgur.com/mUqDuHy.jpg)

[2016-08-02 12:17] keeferrourke commented on #16
Not stretched, but rather scaled improperly and cropped. I would initially think to blame Budgie Remix upstream for having proper support for SVG icon themes, but it very well could be an issue with the actual icon sizing specified in La Capitaine's SVG source, or an issue with the declarations in the theme index.

Your screenshot seems to suggest that GTK+ apps with header bars are fine, but the

[2016-08-03 00:58] keeferrourke commented on #12
![umbrello](https://cloud.githubusercontent.com/assets/6888381/17350281/45fa2ae8-58f3-11e6-9be6-69e5f12023ab.png)
[umbrello-draft.svg](https://owncloud.krourke.org/index.php/s/6iZ7jNK1TSXEs45)

Umbrello concept icon, inspired by Umbrella Corp Logo from Resident Evil. This is a very rough draft and is gonna undergo a lot of revisions, but I'm looking for some initial feedback.

[2016-08-04 16:05] auroszx commented on #11
Hello there. Just wanted to take the chance and request some icons in this thread instead of creating another one. One of them is the Xfce Window Manager Tweaks Settings (I believe this is the one OP is talking about). I'm attaching a [zip with the desktop files and their icons](https://github.com/keeferrourke/la-capitaine-icon-theme/files/402058/icon-requests.zip).

Also, another one of the icons

[2016-08-04 16:27] keeferrourke commented on #11
@auroszx thanks for the request! I'll take a look at the files you've attached this weekend, and try to have an update staged by monday; in the meantime I've symlinked firefox.svg --> firefox-esr.svg in commit  0122772 .

[2016-08-04 16:36] keeferrourke commented on #12
@meradoou Sorry, this sorta fell off the priority list; but check out commit 577e0f1, `x-clementine-shuffle.svg` has been pushed. Still revising the umbrello icon, but I'll probably get that pushed tonight.

[2016-08-05 16:12] getphuture commented on #9
You are both right and you probably don't talk about the same thing.
@keeferrourke fixed [the battery plugin](https://github.com/xfce-mirror/xfce4-battery-plugin) (XFCE Applet Battery Monitor), I suppose @keeferrourke added the [power manager plugin](https://github.com/xfce-mirror/xfce4-power-manager) (XFCE Applet Power Manager Plugin)

Xfce, gnome or whatever environment & distro you're using, th

[2016-08-05 16:26] keeferrourke commented on #9
@getphuture thanks for confirming the XFCE battery icons have been fixed (if I read that correctly) ; I've yet to test XFCE and MATE myself though. I'll try to get to it tomorrow.

[2016-08-05 17:42] getphuture commented on #9
Yes i tested with a fresh git clone, the battery icon looks good on OpenSuse Leap.
I added the Battery Monitor Item on an xfce panel,  edit the properties and check Display icon and the new icon was showing properly.

As for my previous comment it was just a supposition... I'm using the battery monitor icon (on laptop) so it's good for me. With the power management plugin especially it could becom

[2016-08-06 16:05] keeferrourke commented on #11
@auroszx here's a preview of what's coming on Monday :smile:
![cryfs](https://cloud.githubusercontent.com/assets/6888381/17442993/5aca53a2-5b06-11e6-80d4-f1345711227b.png) ![openarea](https://cloud.githubusercontent.com/assets/6888381/17443971/98689c50-5b0b-11e6-8944-cd346521ddd2.png) ![palemoon](https://cloud.githubusercontent.com/assets/6888381/17457709/c28ce37a-5bcd-11e6-993b-ce46d95c5968.png)

[2016-08-06 18:22] auroszx commented on #11
@keeferrourke thank you! Those look awesome. That icon for Pinta is pretty good, no need to make another unless you feel creative. Keep up the good work :+1:

[2016-08-07 17:08] keeferrourke commented on #11
@auroszx check out commit 6f0213c

[2016-08-07 22:31] auroszx commented on #11
@keeferrourke looking great, but openarena128.svg seems to be missing (or rather, a symlink to openarena.svg, which is at the right place of course). May I also request a symlink to transmission.svg called "transmission-remote-gtk.svg" ? This is for Transmission Remote, which should probably share the same icon.

[2016-08-07 22:47] keeferrourke commented on #11
@auroszx sorry, I also noticed openarena128.svg symlink was missing, so I've fixed it in commit 9871de2.
xcfa icon renamed to xcfa.svg in 1780cdf.
transmission.svg symlinked to transmission-gtk-remote.svg in 37914c1.

... haha gottagofast!!

[2016-08-07 22:53] auroszx commented on #11
Great! Thank you. I would donate you something, but I may be as broke ;) _(Have a few bucks on Steam though, if you fancy something on sale)_

[2016-08-07 23:10] keeferrourke commented on #11
@auroszx I'll never say no to free stuff :wink: &ndash; feel free to shoot me an [email](mailto:keefer.rourke@gmail.com) or otherwise [contact me](https://krourke.org/contact)! Thanks a million!

[2016-08-07 23:15] Ufeldraku commented on #11
The battery icon in Mate stays the same, any updates on this?

[2016-08-07 23:49] keeferrourke commented on #11
@Ufeldraku wrong issue: see #9.

[2016-08-08 00:14] Ufeldraku commented on #9
Ahh, according to my system, the program's mate-power-manager, it's not an applet, the mate-power-manager draws the icon in the panel.

[2016-08-08 00:16] keeferrourke commented on #9
@Ufeldraku I just tested with a fresh MATE install, and the system indicators (sounds, wifi, battery) all display properly.

[2016-08-08 00:17] keeferrourke commented on #9
The [icons that are used by mate-power-manager ](https://github.com/mate-desktop/mate-power-manager/tree/master/data/icons/24x24/status) are all in La Capitaine already. I'm not sure what the problem is.

[2016-08-08 22:30] keeferrourke commented on #12
closing this because I believe I've addressed this issue.

[2016-08-08 22:30] #12 closed

[2016-08-09 10:32] somniumAeternam commented on #8
Yes, you are right. The missing icons are:

state-ok.svg
state-warning.svg
state-pause.svg
state-information.svg
state-error.svg
state-offline.svg
state-sync.svg

Examples can be found in the Breeze Icon Theme of Plasma 5 (under status -> 22)

[2016-08-09 10:41] somniumAeternam opened #20 "[Request] Icons for Plasma 5"
Hi, for Plasma 5 there are some crucial icons missing:

- VCS-icons for emblems in dolphin, according to breeze icon theme (under emblems -> 16):
vcs-added.svg
vcs-conflicting.svg
vcs-locally-modified-unstaged.svg
vcs-locally-modified.svg
vcs-normal.svg
vcs-removed.svg
vcs-update-required.svg

- Update status icons (status -> 22):
update-high.svg
update-low.svg
update-none.svg
update-medium.svg

-

[2016-08-09 10:48] somniumAeternam opened #21 "[Request] [Priority-low] Plasma theme"
The icons look very nice. But in Plasma 5 they are not used in the system tray, because of the special theming engine.

In order to use these icons in the system tray and other related contexts (overlays), you need a separated theme with these icons. You could use the standard breeze theme. An example with Antü icons is shown here: https://www.kde-look.org/p/998639

[2016-08-09 11:03] keeferrourke commented on #21
Noted; if you could provide a screenshot to better describe the issue that would be great. I'm not sure why KDE needs a separate theme for its system tray, but I'll look into it.

[2016-08-09 11:20] somniumAeternam commented on #21
I attached a screenshot. But there is not much to see. If you user the plasma theme Breeze, then the breeze icons are used for status, system tray etc.
![screenshot_20160809_131827](https://cloud.githubusercontent.com/assets/9334916/17514621/e50746bc-5e33-11e6-9a50-609619dda8a1.png)

I have also attached the example for breeze with Antü icons. The theme mainly consists of just the icon folder with

[2016-08-09 11:31] keeferrourke commented on #21
Is it important that they be svgz? Is it possible to just use the existing SVGs in this repo?

[2016-08-09 11:42] keeferrourke commented on #20
Great! Thanks for pointing this out to me, I'll check out the Breeze theme as reference and hopefully push an update for this soon.

[2016-08-09 12:07] somniumAeternam commented on #21
This is not possible, because in these svgz-files are different layers of one icon. For example there is only one file for battery and audio. But inside these files are different layers with alle the different states. See the breeze-antu-theme. I would do it, but I don't know how.

[2016-08-09 16:05] keeferrourke commented on #21
Ah... This is why I hate KDE. I'll try to take a look at it this week, but no promises for a prompt update. I'm going to be on a plane on Saturday and won't be able to work on this for a week until I return home.

[2016-08-09 16:07] keeferrourke commented on #8
I'm working on an update to fix this right now; this has been high priority for me for a while, but I hadn't been able to find the appropriate icon names. Thanks a bunch!

[2016-08-09 17:15] keeferrourke commented on #8
Added the specified icons in https://github.com/keeferrourke/la-capitaine-icon-theme/commit/ae3095fd8c79403a82a1836e66357905e927611d though I do not see them get applied locally. ownCloud status icons seem not to take effect, though they also do not take effect when I apply the Breeze icon theme either. Hoping my system isn't borked ;)

Can someone test this?

[2016-08-10 08:27] somniumAeternam commented on #21
I also don't know, why they are doing this. I will ask in their mailing list. Maybe it is somehow possible to use the other icons. I have also read, that they are planing to change the theming behaviour in order to make it simpler. We will see.

[2016-08-10 16:18] keeferrourke opened #25 "[Fix in progress] Missing symbolic app icons for GNOME Shell"
Many GNOME system applications prefer to display symbolic variants in the top-bar; La Capitaine should support this behaviour by providing symbolic variants of core system applications. These applications include, but may not be limited to:

 * cheese-symbolic.svg
 * easytag-symbolic.svg
 * evolution-symbolic.svg (already part of La Capitaine)
 * gnome-aisleriot-symbolic.svg
 * gnome-logs-symbolic

[2016-08-13 11:06] keeferrourke commented on #25
First update regarding this issue: see commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/0a6af5ba76252024bd224a16583313513303af37

[2016-08-13 17:55] btd1337 opened #26 "[Request] Icon for Robocode"
Icon for Robocode

Icon=robocode

![screenshot from 2016-08-13 14-53-46](https://cloud.githubusercontent.com/assets/11943860/17644760/e2432c04-6165-11e6-983e-2e9d23785c35.png)

[2016-08-13 18:16] btd1337 opened #27 "[Bug] gtk-update-icon-cache fails in Arch Linux git installer"
![screenshot from 2016-08-13 15-14-51](https://cloud.githubusercontent.com/assets/11943860/17644842/e56a0dfa-6168-11e6-82b5-29b9fb05e7e5.png)

[2016-08-16 07:43] somniumAeternam commented on #20
Maybe you should think about providing two different versions of your icon theme, one for gnome and one for plasma. You can use the plasma5 branch from my fork. It includes all the missing icons so far.  What do you think?

[2016-08-16 15:38] keeferrourke commented on #20
I'd rather keep one universal version of La Capitaine if at all possible, and just modify symlinks via the configuration script. I realise this may not be the most elegant solution, but it's much easier to maintain on my end, and also keeps the versioning simple and reduces fragmentation of the icon theme through having multiple branches and versions.

I want to merge some of your changes to testi

[2016-08-16 16:01] keeferrourke commented on #27
I don't maintain the Arch package, and I don't work with an icon-cache.

I do however acknowledge that running

    gtk-update-icon-cache ~/.icons/la-capitaine-icon-theme

spits out that very unhelpful error however. Does anyone have any ideas what would cause it?

[2016-08-16 16:03] keeferrourke commented on #26
Look for the new icon in an update coming sometime soon :+1:

[2016-08-16 16:11] keeferrourke commented on #27
This was an issue back at #1 @viewizard had said it was resolved with his Gentoo ebuild; but I suppose the issue has resurfaced. Any ideas?

[2016-08-17 07:54] somniumAeternam commented on #20
Ok, this sound reasonably. I will also assume that the plasma5 theme will be completely light. So also the panel will be light. That means, that e.g. the owncloud status icons will be dark grey.

A completely dark theme would require far more changes to the whole theme, so this is not the top priority.

[2016-08-18 15:11] keeferrourke commented on #20
Sounds about right! And yes... I need to fix the owncloud status icons to make them grey. That was just an error in my thinking before. Late nights man :P

I would like to have a dark theme available in the near future; I think that would just be a matter of programmatically recolouring all the status and action icons. Maybe check back in a few weeks and I might have something in the works. I'm cu

[2016-08-19 13:33] viewizard commented on #27
I don't have any issues with version 0.2.1 on Gentoo with gtk-update-icon-cache. I hecked it one more time - no errors during gtk-update-icon-cache execution.

[2016-08-19 13:46] auroszx commented on #27
I didn't have this issue before, I was at `37914c1` and cache was generated succesfully. Decided to pull the latest commits and fast forwarded to `96b856f`. Then, I tried to update the cache and failed as described by the original post. I tried deleting the current cache and updating it again, still failed.

I'm on Debian Stretch/Testing, up to date. Maybe this is related to one of the commits in

[2016-08-20 23:50] keeferrourke commented on #27
Currently out of country, but when I get a chance I'll investigate.

[2016-08-25 17:46] keeferrourke opened #31 "[Fix in progress] Okteta icon does not convey proper meaning"
Affected files:
* `apps/scalable/okteta.svg`
* Other hex editors?

Fix:
* Design new icon for hex/octet stream editors

[2016-08-25 17:54] keeferrourke commented on #20
Closing since I've merged in required changes from #28 and made additional changes in #30

[2016-08-25 17:54] #20 closed

[2016-08-26 20:16] viewizard commented on #27
Faced with this issue in version 0.3.0.
"apps/symbolic/accessories-text-editor-symbolic (copy).svg" should be removed (or renamed) to solve the issue.

[2016-08-26 21:05] auroszx commented on #27
Can confirm, deleted the file mentioned by @viewizard and cache was generated successfully.

[2016-08-27 16:30] btd1337 opened #32 "[Request] Icon for JetBrains IDEs"
Icons for Jetbrains IDE's are missing.

Example of .desktop
icon=clion

IDE's:
clion
phpstorm
pycharm
intellij
webstorm
rubymine
appcode
datagrip
resharper
resharper-c++

All icons are avaliable here: https://www.jetbrains.com/products.html?fromMenu

[2016-08-28 00:14] keeferrourke commented on #27
@viewizard @auroszx I must have accidentally pushed that; fixed in https://github.com/keeferrourke/la-capitaine-icon-theme/commit/e3602956b5061658f733210c3023bd8accf9d385.

Cached should generate properly now.

[2016-08-28 00:33] keeferrourke commented on #31
Tentative design:
![hex-editor](https://cloud.githubusercontent.com/assets/6888381/18030766/13901636-6c93-11e6-8688-91296d0cd713.png)

Affected files:
 * `okteta.svg`
 * `hexedit.svg`
 * `hex-editor.svg`
 * `ghex.svg`
 * send icon requests if there are more hex-editors I've missed

Changes reflected in: https://github.com/keeferrourke/la-capitaine-icon-theme/commit/ffec9203d21d0ee14ff5f6b9b7d5f75a

[2016-08-28 00:33] #31 closed

[2016-08-28 00:34] keeferrourke commented on #27
Tested, closing.

[2016-08-28 00:34] #27 closed

[2016-08-28 15:53] sarether opened #33 "[Request] Add 2048 and gnash-player icons"
2048 (game) & gnash-player icons.
File-manager icon (non mac like) variants (?) please.

[2016-08-28 18:29] keeferrourke commented on #33
Please follow the guidelines for submitting icon requests in the readme. I'm going to need the `Icon=        ` line from the relevant application .desktop file.

Desktop files are usually found in `/usr/share/applications/`

If you can, please post references for icon designs as well.

[2016-08-28 18:32] keeferrourke commented on #33
@sarether There is already a 2048 icon in La Capitaine, so it may be named incorrectly for your system. I'm going to need more information from you so I make the relevant symlinks.

[2016-08-29 04:51] sarether commented on #33
File-managers names is "system-file-manager", obviously.

The name is "gnome-2048".
All other icon themes  show their own 2048 icons well.

[2016-08-29 21:27] keeferrourke opened #34 "[Priority-low] Add file manager icon variants"
Some people would prefer their file manager icons not to have faces. It is planned to add variants for file manager icons that are drawn in a similar style, but without the "Finder" face. It should be easy for users to choose their preferred style in `configure` by following a prompt.

The [current style](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/apps/scalable/system-file

[2016-08-29 21:30] keeferrourke commented on #33
See https://github.com/keeferrourke/la-capitaine-icon-theme/commit/dcdd8a7e406ff9de5ae4c57a5baea786d56e2bf2 for the fix for the 2048 icon.

A Gnash icon is in the works.

Since the file manager icon variants is a significantly different issue than that of a simple request for new icons, I've created #34 to deal with it.

[2016-08-29 21:33] keeferrourke commented on #11
I believe all icons requested in this thread have been sufficiently taken care of. More tweaking may come in later releases, but I'm closing this for now.

[2016-08-29 21:33] #11 closed

[2016-08-31 11:56] Kalle72 opened #35 "Some problems in xfce"
Hello,

first of all: Your icon theme looks really great! Thanks for that and your efforts!!!

Second: I found some problems (I use xfce on gentoo and use viewizard's ebuild):

1) Radiotray has 4 icons: radiotray, radiotray_on, radiotray_off, radiotray_connecting. At the moment the latter 3 are radiotray's original icons while you changed the first. I would suggest to exchange the latter three by

[2016-08-31 21:45] keeferrourke commented on #35
Awesome, thanks for pointing this out! And the more detail you provide, the easier it is for me to fix it ;)

I'll try to get this fixed soon!

[2016-09-01 10:29] Kalle72 commented on #35
Thanks a lot. I have two more ;-)

1) Xfce has no icon for the power manager --> One should link gnome-power-manager to xfce4-power-manager-settings.

2) Glabels has no icon --> One should link glabels-3.0 (it's really the icons name!) to easytag, because this icon fits perfectly.

Thanks again!

[2016-09-01 11:39] Kalle72 commented on #35
And one more I forgot:

Evince with your theme has a much bigger window-decoration (pictures below) as with gnome's Adwaita theme. It seems that evince uses one of the following icons which aren't existing in your theme: "accessories-text-editor-symbolic", "accessories-text-editor-symbolic.symbolic".

With your theme it looks like evince uses in face of the missing icons the "accessories-text-edit

[2016-09-02 01:02] keeferrourke commented on #35
@Kalle72 going backwards here.. I've fixed `apps/symbolic/accessories-text-editor.svg` and associated symlinks in commit 7d92c48; evince should render the "annotate" icon at the correct size now. I've opted to make this a pencil shaped icon, because it better communicates the editing/annotating behaviour it's most often used for.

5e717f1 should add the xfce-power-manager-settings and glabels-3.0

[2016-09-02 01:08] keeferrourke commented on #35
Regarding the nm-applet icons, it never occurred to me to not make them white. GNOME recolours status icons, so I never noticed this to be an issue.

A "dark" icon theme variant with light status/action/symbolic icons is supposed to be in the works anyway re: #4, so I guess I can get started on that by using the existing nm-applet icons.

I'll provide dark versions of the nm-applet icons (for cont

[2016-09-05 03:04] keeferrourke commented on #33
Added gnash icon in 833a8d1

[2016-09-05 03:04] #33 closed

[2016-09-05 03:05] keeferrourke commented on #25
I've added it to my agenda to keep adding symbolic app icons as I come across them. Since this issue was opened by me as a reference -- it's done it's job. Closing.

[2016-09-05 03:05] #25 closed

[2016-09-05 03:08] keeferrourke commented on #9
Closing because I think this is fixed since #35 addresses the issue of redesigning battery icons in xfce, and local tests seem to indicate that MATE gets themed properly.

[2016-09-05 03:08] #9 closed

[2016-09-10 02:20] btd1337 opened #36 "Request - Extend support to Pantheon"
Pantheon needs minor adjustments on Arch Linux, Is it possible to do that?

Basically adjustments are the indicators icons.

Icons that need adjustments: indicator of **sound**, **mail**,  **power**.

**_La Capitaine icons_**
![screenshot from 2016-09-09 23-08-13](https://cloud.githubusercontent.com/assets/11943860/18407332/b616bafe-76e3-11e6-8ddf-9053b0158078.png)

**_Elementary OS icons_**
![scr

[2016-09-10 06:24] arshubham opened #37 "Missing Icons in ElementaryOS 0.4 "Loki""
The missing icons are:
In System Settings
- Parental Controls
- Applications
- Elementary Tweaks
     - Launcher
     - Cerbere
![screenshot from 2016-09-10 11 46 01](https://cloud.githubusercontent.com/assets/14235191/18408396/4d57981c-774c-11e6-8a37-f08c06364b07.png)
![screenshot from 2016-09-10 11 46 46](https://cloud.githubusercontent.com/assets/14235191/18408395/4d545274-774c-11e6-8c7e-166d51

[2016-09-13 02:53] keeferrourke commented on #36
I'm going to need the names of these icon files in order to make a fix.

[2016-09-13 02:54] keeferrourke commented on #37
I need the names of the files that these icons use, or I cannot implement a fix. Follow the guidelines outlined in the readme for submitting icon requests.

[2016-09-13 02:56] keeferrourke commented on #37
Regarding settings icons, define a "better" icon. Design is subjective, and that is hardly a useful observation.

[2016-09-13 12:27] btd1337 commented on #36
These are the icons:

https://www.dropbox.com/sh/07ex6nt1i3t5tmc/AACRRfem80KqkqIc539bm-_Ia?dl=0

[2016-09-14 20:46] sankarsana opened #38 "Reduce redundancies with panel and status icons, fix keyboard indicator colours"
This is the best theme fore me! Thank you very much!

But i have litle bug on my unity panel (ubuntu 16.04).

![2016-09-14 23-23-40_1](https://cloud.githubusercontent.com/assets/13602327/18529036/2533abc4-7ad4-11e6-9ce5-6314b40ac904.png)

**How to fix it?** Maybe I'm doing something wrong?

[2016-09-15 14:31] jmrfrosa commented on #38
Same problem here, had to revert to previous release.

[2016-09-15 21:10] newfobject commented on #38
I have found a solution.

- Download the previous version
- Unpack it
- Copy panel folder from previous version to your theme folder
- unity --reset-icons in terminal(maybe not needed)

[2016-09-16 02:05] keeferrourke commented on #38
@newfobject I removed the panel folder (and merged it into status) because I didn't believe it was used by any environments anymore. I'll put it back. @sankarsana Thanks for reporting this.

[2016-09-16 02:17] keeferrourke commented on #38
Hopefully fixed in cacb662. I've added `panel/` back.

[2016-09-16 02:19] keeferrourke commented on #36
I'll try to get this fixed this weekend!

[2016-09-16 05:32] sankarsana commented on #38
But they are white.:(
![2016-09-16 08-18-26_1](https://cloud.githubusercontent.com/assets/13602327/18576088/d6da4244-7be6-11e6-8aca-317cee2bdc63.png)

I especially found the light panel theme early. Do I have to move to the dark now?
(Sorry for my English.)

[2016-09-17 20:04] Pival81 commented on #35
I'm also having some problems on xfce with the numix theme:
![selezione_005](https://cloud.githubusercontent.com/assets/15673222/18610680/9809ac84-7d22-11e6-9671-ba368a3686ab.png)
I think we really need a dark variant, as noted in #4

[2016-09-18 02:04] keeferrourke commented on #35
@Pival81 I'm aware of the issue, and am working on a fix, but it's a slow burn. There are a lot of icons that need light variants and I'm in school, so my work takes priority... but it will come in an update eventually.

[2016-09-18 02:11] keeferrourke commented on #38
@sankarsana the panel icons are white because I restored theme from an old commit -- they were removed because it was noted that they didn't match the rest of the theme.

I believe `status/` has all the same icons as are found in `panel/` but I think it's some weird Ubuntu-ism that the `panel/` folder is required. I'm going to look at what some other themes have done and play with some symlinks to

[2016-09-18 03:47] keeferrourke commented on #38
@sankarsana check out commit 44e68fdedfce88fd4921d6024e1e9a213be3f9f3 and see if that fixed your panel icons under Unity. I've recoloured them all to be dark grey (matching other status icons in the theme) instead of white.

[2016-09-18 18:46] sankarsana commented on #38
@keeferrourke now everything is fine! Thank you very much!
But I recoloured keyboard Indicators in `panel/`. They looked too dark.
Renamed bluetooth icons.
Added `status/symbolic/diodon-panel.svg`
![2016-09-18 21-40-44](https://cloud.githubusercontent.com/assets/13602327/18618148/2aca638a-7de9-11e6-84dc-59026c93c4d0.png)

[2016-09-19 12:55] keeferrourke commented on #38
@sankarsana would you mind letting me know what files you renamed to get your bluetooth icon to work right? I can add the proper symlinks in another commit.

Also, could you please provide `status/symbolic/diodon-panel.svg` so that I may update the theme so that other users of diodon may also have a completely themed experience?

[2016-09-19 17:33] sankarsana commented on #38
I create temporary [repository](https://github.com/sankarsana/changesIn_la-capitaine-icon-theme/tree/master/status/symbolic) for your convenience.
`diodon-panel.svg` - not the best. And `bluetooth-paired.svg` - i do not like even more (i slap together).
Could you draw them yourself in accordance with the style?

[2016-09-21 15:22] handrake0724 opened #39 "Request icons for .rar and C header file"
Thanks for the great work.

After installing it, I have found icons for rar file and C/C++ header file is missing.

[2016-09-21 15:30] handrake0724 opened #40 "different look in nautilus' icon view and the icon shown in properties window"
As shown below figure, the icon shown in nautilus and the icon shown in properties window does not match each other. I don't know how to fix this behavior.
FYI, I am using arch linux with gnome 3.2 + gtk3 3.2 + cinnamon 3.0.

![selection_001](https://cloud.githubusercontent.com/assets/18005991/18717572/44f66262-805b-11e6-9257-c54b18bd4023.png)

[2016-09-22 11:41] keeferrourke commented on #39
Can you please post the mimetypes here? I can make those really quick.

[2016-09-22 11:44] keeferrourke commented on #40
I do not believe this is an issue with La Capitaine, but rather the way Nautilus assigns the icons to the files. Keep in mind unix-like systems don't care about file extensions, so if your file content doesn't match what you expect, then the wrong mimetype might be detected.

Closing this because there is nothing I can do about it. If something suggests to me otherwise, I'll reconsider.

[2016-09-22 11:44] #40 closed

[2016-09-22 11:50] keeferrourke commented on #38
@sankarsana honestly I thought the use of the panel directory was obsoleted. It must be some Ubuntu-sm that I have to account for with regards to the `panel/16` and `panel/24` directories. When I merged the content of `panel/` to `status/` and dropped the `panel/` directory in commits c9a4aa32546bbf1f51f0ac91bb96d9b9aea3268b and ff2ac67401fd36de1a1dcae10af50de77d0327ed it broke your Unity panel...

[2016-09-22 11:51] keeferrourke commented on #16
Closing due to inactivity, and because I believe this is an issue with Budgie and not La Capitaine. Anyone, feel free to correct me if I'm wrong.

[2016-09-22 11:51] #16 closed

[2016-09-22 12:03] handrake0724 commented on #39
It looks like
text/x-c++hdr
text/x-chdr

Thanks.

[2016-09-22 16:33] keeferrourke commented on #39
what do you mean by this? if the mimetype icon is not assigned properly, that would suggest to me that rar is not fine.

[2016-09-22 23:24] handrake0724 commented on #39
At first, I thought rar icon was missing but the icon was there in mimetype folder of la-capitaine-icon. So, rar issue is about #40. that is why I said rar is fine.
Thus, missing icon is text/x-c++hdr and text/x-chdr.

[2016-09-29 23:44] CreativeUsern opened #41 "Some icons show up too big in dialogue boxes"
When picking things in dialogue boxes, Sometimes certain icons show up as really big.  I'm on xfce.
![](https://cloud.githubusercontent.com/assets/21045097/18976081/f2e297e8-8663-11e6-9035-007a60d97dca.png)

[2016-10-01 13:57] keeferrourke commented on #41
wow, that is insane o.O
I've had no such problems like that under XFCE before, but I am aware that some of the SVGs are immensely too big. I'll look into this, but it's going to take a while to fix since it means I literally have to go through every folder/app icon and make sure none are bigger than 48x48.

honestly I fault certain desktop environments for not knowing how to scale SVGs properly...

[2016-10-02 23:35] cemetary opened #42 "[Bug] status/panel icons incorrectly sized"
![screenshot from 2016-10-02 17 30 24](https://cloud.githubusercontent.com/assets/10538213/19024704/a11fb714-88c6-11e6-9a2a-0d8b69a3c4cd.png)

Hi, there.

In elementary Loki I have these two big icons in panel.

[2016-10-03 12:13] keeferrourke commented on #42
@cemetary aware of the issue. It's a problem for at least several status/panel icons and a few applications/places icons &ndash; and I'm going to try to fix the sizing issues... but that requires manually going through hundreds of SVGs to fix them.

If you need a quick fix locally, try resizing `status/symbolic/audio-*` and `panel/16/system-devices-panel.svg` to 16x16. If eOS uses a larger size th

[2016-10-03 12:20] keeferrourke commented on #38
phase one of the Great Clean Up&trade; :
 * deleted `panel/24/indicator-keyboard-*` in commit 3620d0b as suggested by @sankarsana

Hoping this reduces redundancies and doesn't have any adverse affects on the the usability of this theme. AFAIK it should be fine, dups of all the icons are in `panel/16/`

[2016-10-03 12:24] keeferrourke commented on #32
Probably will just use recoloured versions of the `org.gnome.Builder` icon for a consistent look and feel.
If this isn't good enough, complain here before I add them to the repo :stuck_out_tongue:

[2016-10-03 12:25] keeferrourke commented on #26
This fell of the priority list. Swamped with assignments right now, but I'll  try to get an icon designed by this weekend. No promises though :)

[2016-10-03 13:23] keeferrourke commented on #35
closing this for now as believe I addresses all the major issues here... again, the dark variant will come at a later date &ndash; hopefully after midterms.

[2016-10-03 13:23] #35 closed

[2016-10-03 13:25] keeferrourke commented on #37
@arshubham I can't do anything about this unless you provide the required icon names, please let me know what's missing, this issue has sat quiet for 20 days.

[2016-10-03 13:28] keeferrourke commented on #36
I got busy with school, but I'll try to fix this this weekend if I find time... no guarantees though, I'm about to get slammed with midterms.

[2016-10-03 13:33] keeferrourke commented on #42
This issue seems similar to #36, I'll try to get it resolved when I go to tackle it in the near future.

[2016-10-03 21:07] cemetary commented on #42
Thanks. :)

[2016-10-04 03:50] btd1337 commented on #32
You can provide a preview?

[2016-10-04 22:08] keeferrourke commented on #32
Take a look at the GNOME Builder icon [here](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/apps/scalable/builder.svg).

I plan to recolor with the simplified gradients used in the Jetbrains IDEs, and add each short name to the respective icons (ex. IJ, PS, etc.) where the curly braces are on the Builder icon. No promises on a timeline since I have midterms coming up.

[2016-10-07 03:35] daltones opened #43 "[request] Operating systems icons"
This is not a request for application or file type, but I think it would be nice.

Like many other people, I have a Windows installed inside a VM. When I was using Numix I saw that there's an icon with the MS Windows logo, so I associated that icon to my VM shortcut.

So my suggestion/request is for icons of logos of other OS, like the ones of Linux Distributions already existing.

Oh, and thanks

[2016-10-07 23:45] keeferrourke commented on #43
@daltones noted, any operating systems in particular?

off the top of my head I can think of:
 * Windows 8/10
 * Windows XP/Vista/7
 * older Windows(??) could this just be symlinked to Windows 7 and below?
 * various BSDs
 * Android (?)

Is this list too comprehensive? not comprehensive enough? how would you like the icons named?

Let me know.

[2016-10-10 03:33] daltones commented on #43
@keeferrourke actually I was thinking just in a generic Windows icon. But if you could make all these, great!

Numix Circle has just a `windows` icon.

[2016-10-10 16:23] daltones opened #44 "[bug] Some icons with low resolution"
I'm using Gnome 3.20 with default 1.0 scale factor. I noticed these icons with low resolutions:

When plugging a headphone:
![captura de tela de 2016-10-10 12-56-28](https://cloud.githubusercontent.com/assets/5603632/19242993/1614e280-8eec-11e6-9323-e93125163496.png)

And when pressing play/pause media key when it doesn't make sense:
![captura de tela de 2016-10-10 12-55-46](https://cloud.githubus

[2016-10-10 20:08] keeferrourke commented on #44
weird! they *should* scale properly, but I'll look into it. guess I'm adding these to the list of icon that need to be resized... thanks for the report.

[2016-10-10 20:09] keeferrourke commented on #43
solid, I'll add this to my to-do.

[2016-10-10 20:11] keeferrourke commented on #37
I'm closing this because it's over a month old and OP hasn't given useful feedback. Feel free to bring to my attention again later though.

[2016-10-10 20:11] #37 closed

[2016-10-10 22:15] keeferrourke commented on #32
Alright, here's the preview!

![appcode svg](https://cloud.githubusercontent.com/assets/6888381/19250811/4fd68a96-8f0a-11e6-84a2-54b03cadca46.png) &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; ![clion svg](https://cloud.githubusercontent.com/assets/6888381/19250815/58058f5a-8f0a-11e6-8d05-1b4351e8595e.png) &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; ![datagrip svg](https://cloud.githubusercontent.com/assets/688

[2016-10-10 22:21] #32 closed

[2016-10-11 13:25] rinaldus opened #45 "Steam and Chrome shadowing issues in KDE"
Hello!

I installed your icon theme and it looks very beautiful, but I noticed strange gray artefacts in bottom-right corners of Chrome and Steam icons. Maybe they are also somewhere else, but I noticed only in these icons yet. Look at the screenshot:
![](http://i.imgur.com/xcxrzT7.jpg)
Can you fix these icons, please?

[2016-10-11 21:58] keeferrourke commented on #45
Hi! What desktop environment are you using? How did you get a copy of La Capitaine - git clone, or tarball?

those shadows are generated from a motion effect and are then clipped to fit the shape of the icon - it seems that your icons are either corrupted, or whatever engine that is rendering your icons is ignoring this "clipping". Try opening the icons in your browser and note if they are rendere

[2016-10-11 22:40] rinaldus commented on #45
I use KDE 5 and cloned your git repository to ~/.local/share/icons. And I viewed these bugged icons with Atril, image viewer from MATE. It displays the same graphic artefact in these icons. I also viewed other icons, they are normal, except these 2.

[2016-10-11 23:53] keeferrourke commented on #45
Interesting... I'll take a look. In the meantime, if you want to remove the shadowing on your local copy to get rid of the annoyance feel free. I have midterms coming up so I won't be able to seriously investigate the issue for a while.

Cheers!

[2016-10-12 09:44] rinaldus commented on #45
Look at the screenshots, how Chrome icon looks in EOM and in GIMP. There is gray transparent spot in yellow area. I guess, it's not KDE related problem, because both EOM and GIMP are not part of KDE.
http://i.imgur.com/zcx8wWN.png
http://i.imgur.com/dFV5kxu.png

[2016-10-13 19:33] dyrnade commented on #43
Having NixOS logo also would be good too.

https://nixos.org/

[2016-10-15 13:51] MarseilleDev opened #46 "SVG recolouring"
# How me make white icons in top-bar?
![whiteIcons](https://cloud.githubusercontent.com/assets/19198757/19410520/532183ae-92f7-11e6-84a6-d79acd902513.png)

[2016-10-15 18:44] btd1337 opened #47 "[Request] Icon for Slingscold"
Icon for Slingscold is missing.

Slingscold is a free alternative to Launchpad to Mac OS.

Icon=/usr/share/icons/slingscold.png

![slingscold](https://cloud.githubusercontent.com/assets/11943860/19412496/23f48ea4-92ee-11e6-9b00-524e88a8e3f6.png)

[2016-10-16 04:03] btd1337 opened #48 "Fix new Nautilus adress icon"
On Gnome 3.22 Nautilus icon is set on:

Icon=org.gnome.Nautilus

[2016-10-16 18:55] keeferrourke commented on #45
@rinaldus You should notice that La Capitaine isn't just using Chrome's official icon; there are intentional modifications to it as part of my design language.

The `transparent grey spot' is a 45deg shadow that is intentionally there. GIMP and EOM render the icon properly, as the shadow is not supposed to extend past the yellow area. The problem is likely with KDE not knowing how to render the sh

[2016-10-16 18:57] keeferrourke commented on #46
You will need to recolour them yourself. At the moment La-Capitaine does not support dark GTK themes. This is a planned improvement, but will take some time as I'm busy with midterms. See issue #4.

[2016-10-16 19:02] keeferrourke commented on #48
fixed in 85fd025.

[2016-10-16 19:02] #48 closed

[2016-10-16 19:05] keeferrourke commented on #43
@dyrnade can you post the output of `lsb_release -si` on NixOS?

[2016-10-16 19:06] Elbullazul commented on #46
sorry to get in this conversation, but it seems that by editing yourself the SVGs and replacing whatever icon color in them by 'bebebeff' it will recolor the SVG according to the fg color of the theme

just saying, someone told me that, but I've never tried yet

[2016-10-16 20:21] dyrnade commented on #43
You better go with this ID=nixos because NixOS kinda different :D

cemg@nixos ~> cat /etc/os-release
NAME=NixOS
ID=nixos
VERSION="16.09.741.354fd37 (Flounder)"
VERSION_ID="16.09.741.354fd37"
PRETTY_NAME="NixOS 16.09.741.354fd37 (Flounder)"
HOME_URL="http://nixos.org/"

[2016-10-17 13:03] keeferrourke commented on #46
@Elbullazul do you have a source on that? many of the symbolic icons in La Capitaine are already coloured as #bebebe will full opacity (ff). If that's the case, I may make it more of an issue to recolour all symbolic icons to that colour.

[2016-10-17 13:18] keeferrourke commented on #47
Alright, I added the slingscold icon under `apps/scalable/slingscold.svg` Note that if your desktop file actually specifies a .png, you'll need to edit the file to remove the .png extension.

I redesigned the Launcher icon as well, and symlinked this to slingscold. Update in commit e9e8af2

Preview:
![launcher svg](https://cloud.githubusercontent.com/assets/6888381/19438845/c4f1af1a-9449-11e6-9d2f

[2016-10-17 13:18] #47 closed

[2016-10-17 13:20] Elbullazul commented on #46
@keeferrourke a long-time icon theme maintainer suggested me this solution when I ran into the same issue. Also, the original gnome theme has this fix to avoid bugs in shell (or gtk-derived desktops): [further details](https://askubuntu.com/questions/148955/why-do-the-gnome-symbolic-icons-appear-darker-in-a-running-application/154780)

this could also save you time from forking a new theme with li

[2016-10-17 13:39] keeferrourke commented on #43
@dyrnade check out commit 419e9bc, I've updated the `configure` script to support NixOS. NixOS distributor logo is located at `places/scalable/distributor-logo-nixos.svg`

[2016-10-17 16:16] keeferrourke commented on #46
@Elbullazul thanks so much for the helpful response! this should help resolve issue #4 and improve compatibility with gtk themes in general :)

I'm going to reclose this issue, and open a new one that pertains only to recolouring symbolic and action icons.

[2016-10-17 16:16] #46 closed

[2016-10-17 16:19] keeferrourke opened #49 "Recolour symbolic and action icons to #bebebeff"
Pointed out by @Elbullazul, symbolic icons should be recoloured to `#bebebeff`. Reasoning is summed up well here: https://askubuntu.com/questions/148955/why-do-the-gnome-symbolic-icons-appear-darker-in-a-running-application/154780

This will improve readability of icons in most GTK themes, and partially resolve issue #4, as symbolic icons will be properly recoloured by the set GTK theme. Regular a

[2016-10-17 20:04] dyrnade commented on #43
@keeferrourke Thats cool.Thank you very much :D

[2016-10-17 20:17] btd1337 commented on #47
Cool!

[2016-10-20 12:22] keeferrourke opened #50 "Add GNOME games icons"
Everyone knows that an operating system isn't complete without Minesweeper, Sudoku, Mahjong, and Solitaire right?

La Capitaine doesn't have a Minesweeper, Sudoku or Mahjong icon, and someone on GNOME-look wants them :)
- [x] `gnome-mahjongg.svg`
- [x] `gnome-sudoku.svg`
- [x] `gnome-mines.svg`

[2016-10-21 16:46] pranavkamath opened #51 "Icon for Screenshot"
This is a request for creating an icon for Screenshot.
Thank you.

[2016-10-21 21:02] keeferrourke commented on #51
This is an invalid request. "Screenshot" is about as ambiguous of an application name as it gets, you did not provide an icon design reference, or the application's .desktop file.

I can't do anything to help you, unless you help me.

[2016-10-24 14:32] MarseilleDev commented on #46
@keeferrourke

![dark](https://cloud.githubusercontent.com/assets/19198757/19649781/bbe8d3fa-9a0f-11e6-8094-81993bfeef7a.png)
![white](https://cloud.githubusercontent.com/assets/19198757/19649782/bbea7ba6-9a0f-11e6-90e9-b79905492ade.png)

Where are these white icons? How their turn on?

[2016-10-24 15:53] Elbullazul commented on #46
oh oh, @MarseilleDev that's your GTK theme having problems, probably

which theme are you using?

[2016-10-24 16:33] MarseilleDev commented on #46
@Elbullazul [Flatabulous](https://github.com/anmoljagetia/Flatabulous.git)

[2016-10-24 16:42] Elbullazul commented on #46
gtk seems ok, it's a unity thing then

same thing should happen with other icon themes, right?

[2016-10-24 17:09] MarseilleDev commented on #46
@Elbullazul No, for different icons all is good!

[2016-10-24 21:45] keeferrourke commented on #51
Closing because this request is invalid, and it has not been updated.

[2016-10-24 21:45] #51 closed

[2016-10-24 22:07] Elbullazul commented on #46
then it's unity having problems...

[2016-11-02 06:37] MarseilleDev commented on #46
@Elbullazul Hi! I'm updated Ubuntu to 16.10 but anyway I have it's problem with icons):
![Dark icons](https://cloud.githubusercontent.com/assets/19198757/19918870/dfb25d84-a0df-11e6-9854-a42e2c85f3ba.png)
![White icons](https://cloud.githubusercontent.com/assets/19198757/19918871/dfb3392a-a0df-11e6-85c7-dc00b33304c9.png)

[2016-11-02 11:21] Elbullazul commented on #46
then it seems Unity washes colors to white on dash view.

[2016-11-06 17:22] rtalexk opened #52 "[REQUEST] - XFCE system try icons"
I love Le Capitaine icon theme, I use it on all my Linux distros, I tend to use Plasma 5 and Xfce but always i have the same problem: system tray.

I tried to configure by myself, but symbolic links already exists. I'm think hicolor icons are ugly.

I don't know how Xfce manage icons, maybe something like #35 could help.

![captura de pantalla_2016-11-06_10-05-41](https://cloud.githubusercontent.c

[2016-11-06 20:52] juanlatorre commented on #52
Indeed, i request this too, this icons are perfect !

[2016-11-08 04:29] keeferrourke commented on #52
Dammit. I thought I fixed this. I'll look into it -- but I'm in the middle of my second round of midterms (they never end!!)

if anyone else has a chance to look at this, I'd be more than happy for the help :)

[2016-11-08 13:03] juanlatorre commented on #52
Hey, i've look into this, for some reason my icons work fine after deleting the "xfpm-primary*" icons from Hicolor theme, the icons from La Capitaine worked perfectly (i edited some of them to match my dark panel).

Inside the XFCE-Power-Managament plugin for XFCE4-Panel in /usr/share/xfce4/panel/plugins/power-manager-plugin.desktop, there is a String that say:

Icon=xfpm-primary-100-charging

![s

[2016-11-08 13:24] keeferrourke commented on #52
hmm okay, so I think the battery icons XFCE is looking for are called `xfpm-primary-*` and not `xfpm-battery-*`.

I can get an update pushed by thursday, if it's not up by then - just ping me.

Cheers.

[2016-11-08 14:14] juanlatorre commented on #52
Thanks, i'll be in touch !

[2016-11-11 05:59] ckam03 opened #53 "Bitwig Studio icon"
Bitwig.com
![bitwig](https://cloud.githubusercontent.com/assets/23270157/20205846/6018d4fc-a799-11e6-9b46-4807a72fd19f.png)

[2016-11-11 06:00] ckam03 commented on #53
https://www.bitwig.com/en/bitwig-studio.html

[2016-11-13 22:05] keeferrourke commented on #53
@ckam03 you need to submit the name of the icon as well. See the README, if you want an icon themed then please don't make my life difficult :)

[2016-11-13 22:08] keeferrourke commented on #45
Closing this due to inactivity; issue poorly explained. Chrome icons have since been updated with simpler shadows paths, and I've not seen this issue in any of my local testing.

[2016-11-13 22:08] #45 closed

[2016-11-13 22:48] ckam03 commented on #53
I did didn't I? Bitwig Studio.

[2016-11-14 01:41] keeferrourke commented on #53
No, you did not. It's great to know what the application is called, but I need to know the file name for the icon as well.

You can do this by running
[code]

[2016-11-14 01:48] keeferrourke commented on #53
I've updated the README to be more clear on how to submit icon requests, see the suggested format.

[2016-11-16 21:20] DarkknightAK commented on #4
Hi,

I'm one of the KDE Breeze icon developers and I already did the recolor stuff in Breeze-icons so if you like I'd like to help.

In KDE it's possible that the icon theme use the color from the color scheme, very cool something like symbolic stuff in Gnome.

what do you think?

[2016-11-17 16:30] keeferrourke commented on #4
Hi @DarkknightAK thanks for your help! I very much appreciate it, however please review commit 274ec9e9181120f2563c47b04015af542874a076, as I cannot merge this.

[2016-11-17 16:32] keeferrourke commented on #8
Seems I fixed this a while ago -- at least the correct icons show in the system tray on my OpenSUSE box. Ubuntu seems to display the wrong icons, but I will fault this to the packaged version of `owncloud-client` in Ubuntu. Closing.

[2016-11-17 16:32] #8 closed

[2016-11-17 16:36] keeferrourke commented on #36
This should have been fixed in f67424fb3bcc7a84111b6cd939e52e4d23c9c4a1 when I added the inherit property to `index.theme`. Specific adjustments to eOS icons will come later, stay tuned.

[2016-11-17 16:36] keeferrourke commented on #37
Managed to fix this in f67424fb3bcc7a84111b6cd939e52e4d23c9c4a1, retheming of the elementary OS icons will come later, as I've addressed in #36

[2016-11-18 14:22] kunamashina opened #56 "GParted icon + Donation"
Could you please create an icon for the "gparted" app ?

Willing to donate some cash to you so you can work more on this icon set, please contact me @ ismuskuna@gmail.com to follow through

I have some more requests afterwards

[2016-11-18 14:58] auroszx commented on #56
Not the author, but... Doesn't `gparted` already have an icon? I see one at `/usr/share/icons/la-capitaine-icon-theme/apps/scalable/gparted.svg`. Or do you want a more specific one?

[2016-11-18 15:04] kunamashina commented on #56
http://imgur.com/3qn1ANu

gparted.svg shares it's icon with the rest of disk utilities found on my pc

I wanted a more specific one :)

[2016-11-18 20:30] cemetary commented on #36
@keeferrourke

 This was the first thing I tried. Adding Inherits=elementary,breeze,gnome not working. :-(

![wingpanel_001](https://cloud.githubusercontent.com/assets/10538213/20445605/59e3cc1a-ad9b-11e6-8317-d22c94535f97.jpg)

[2016-11-19 17:40] keeferrourke commented on #56
@kunamashina I got your emails and I'll work on differentiating gparted from other disk utilities! watch your inbox and keep an eye out for a commit coming soon!

[2016-11-21 11:12] keeferrourke commented on #56
updated in https://github.com/keeferrourke/la-capitaine-icon-theme/commit/38fa0b5.

@kunamashina please open another issue, or email me for any additional requests

[2016-11-21 11:12] #56 closed

[2016-11-21 11:19] kunamashina opened #57 "[REQUEST] Wireshark, OpenXenManager, Hangouts, Terminix"
Very good job on my first request :+1:

Looking forward for your new additions

[2016-11-21 15:40] keeferrourke commented on #57
can you paste the contents of the openXenManager *.desktop file from `/usr/share/applications/`?

Hangouts and Terminix already have icons, but I can do redesigns similar to the request from #56

[2016-11-21 15:49] kunamashina commented on #57
- openxenmanager.desktop
- wireshark-gtk.desktop
- terminix has the same icon with your icon theme as this URL: https://plus.google.com/+WorldofGnomeOrg/posts/B2jKqyN3HtD
- hangouts look the same as default one for me, it is smaller than the rest of the icons see in the URL:
http://imgur.com/a7GWYgK

Looking forward to your commitment, keep up the good work

[2016-11-21 16:16] keeferrourke commented on #57
@kunamashina can I get the _contents_ of the the files you listed there? specifically the `Icon=...` lines

regarding hangouts, I have the icons for a lot of Google Chrome apps in La Capitaine, I just need to symlink them to the right names - this should be done tonight \*fingers crossed\*

[2016-11-22 02:49] cemetary opened #58 "[Request] DraftSight, Signal and Wunderlist icons"
Amazing icons theme!

Just wondering if you can add the following icons.

**Application: DraftSight**
Icon name: dassault-systemes.draftsight
Context: CAD drawing app
Icon reference:
![captura de pantalla de 2016-11-21 20-33-58](https://cloud.githubusercontent.com/assets/10538213/20508949/cb19eacc-b02a-11e6-9977-6b301a1d3fc4.png)

**dassault-systemes_draftsight.desktop content**
[code]

**Applicat

[2016-11-22 10:07] kunamashina commented on #57
# **openxenmanager**
[Desktop Entry]
Categories=RemoteAccess;Monitor;
Encoding=UTF-8
Name=OpenXenManager
GenericName=manage Citrix XenServer hosts
Type=Application
Exec=/usr/bin/openxenmanager
Icon=openxenmanager

# **Wireshark**
[Desktop Entry]
X-SuSE-translate=true
# The format of this file is specified at
# http://standards.freedesktop.org/desktop-entry-spec/1.0/
# The entries are in the order

[2016-11-22 12:54] Elbullazul commented on #57
@kunamashina you can search in the icons theme folder in apps. Maybe it's there.  Or in the hi color icon theme. Anyways you can use the following command to locate all terminix related files.
[code]

[2016-11-22 13:19] keeferrourke commented on #57
@kunamashina I figured out where terminix was found and updated the icon name in commit 09c43ab8643ba9f039dcd155cb8bf710ff06823c, it seems that at least on Ubuntu the desktop entry looks for  `com.gexperts.Terminix.svg`.

Also check out commit 5698cd034e300bd1da35cb60e88260de735a20dd for a bunch of updated Chrome/Chromium extension icons!

_Note that these icons will only theme apps that were adde

[2016-11-22 13:25] kunamashina commented on #57
terminix and Terminix ... blah :+1: that's the reason I couldn't find it

Icon=com.gexperts.Terminix

Keeferrourke found it in the end hehe

PS:
Is there an easy way to update the icons? Or should I wait for the rest of the icons wireshark and openxenmanager?

[2016-11-22 20:35] keeferrourke commented on #57
@kunamashina if you cloned from git, just do
[code]
and then set the theme again using your preferred desktop tools. This is sort of desktop independent, but you can use `gnome-tweak-tool` or `lxappearance`.

If you are using GNOME/Unity/some other GNOME-like DE, restarting the desktop shell should refresh the icons for you. You can do this by pressing `ALT-F2` to open the run dialogue, and issuin

[2016-11-22 20:36] keeferrourke commented on #57
Wireshark and OpenXenManager are on their way; I want to do something creative with both of them though, so it might be a few days before they are themed.

[2016-11-22 20:39] keeferrourke commented on #58
Cheers mate! This is a perfect example of the request format I'm looking for! Thanks for making my life easy :grin:

I'm going to link to this request in `README.md` as an example for future requests.

I'll start working on getting these icons themed, just have a little patience as exams seem to be never-ending/

[2016-11-28 20:27] keeferrourke commented on #49
assigning this to @DarkknightAK

[2016-11-28 20:36] DarkknightAK commented on #21
Hi,
to be honest, I'm also not a fan how icons work for plasma themes. if you need help, I know how you can make a plasma theme.

[2016-11-28 20:53] DarkknightAK commented on #4
styling in kde work now.

[2016-11-29 18:46] keeferrourke commented on #4
Thanks to @DarkknightAK this issue should be partially fixed; at least in KDE, the icon theme will automatically be dark or light depending on the set theme. Work still needs to be done in GNOME/GTK+ desktop environments.

[2016-11-29 18:49] keeferrourke commented on #21
@DarkknightAK thanks for the offer, but I think I might just close this issue. It's been inactive for a pretty long time, and I don't like how KDE is using a non-standard approach to theming status icons. Hopefully they fix this upstream, but I don't think it's necessary or a good idea to support this. The breeze icons in plasma5 look fine with La Capitaine.

[2016-11-29 18:49] #21 closed

[2016-11-29 18:50] keeferrourke commented on #53
Closing this because it is an invalid and inactive request.

[2016-11-29 18:50] #53 closed

[2016-11-29 18:52] keeferrourke commented on #41
This should, to my knowledge be fixed by now. If there are wrongly sized icons, please feel free to reopen this.

[2016-11-29 18:52] #41 closed

[2016-11-29 18:53] keeferrourke commented on #36
@cemetary do you mind explaining exactly what is wrong with your posted screenshot? Those icons are all displaying properly.

[2016-11-29 19:00] keeferrourke commented on #44
This *should* be fixed now! Sorry it took so long to deal with, it seems that GNOME symbolic icons are used *everywhere* and must be scalable to a huge range of sizes.

[2016-11-29 19:00] #44 closed

[2016-11-29 19:11] daltones commented on #44
Yeah! I can confirm that it's fixed! 😃

Thanks!

[2016-11-29 20:05] keeferrourke commented on #39
Still not sure on the rar mimetypes,  but c and c++ header mimetype icons should be fixed now. Sorry it took so long.

Closing this issue, but as always, if there's an issue - ping me and I'll reopen it.

[2016-11-29 20:05] #39 closed

[2016-11-29 20:38] GiBg1aN opened #61 "Accessibilty"
Accessibility Icon on Gnome 3 bar (3.22) gets replaced by a white square.

[2016-11-29 21:51] cemetary commented on #36
@keeferrourke

Al right, sorry, my bad.

They say that a picture is worth a thousand words, so I will try to clarify the point with these three screenshots.

**elementary Loki (default icon theme):**
![elementary loki default](https://cloud.githubusercontent.com/assets/10538213/20730204/c484b518-b64a-11e6-975a-e55bfbed2264.png)

**Papirus icon theme:**
![papirus](https://cloud.githubusercontent.co

[2016-11-30 17:33] keeferrourke commented on #36
@cemetary hahaha my bad, I'll try to get it fixed soon.

[2016-11-30 17:35] keeferrourke commented on #61
I need (a) a screenshot to illustrate this issue, and (b) if possible, the name of the icon that is affected.

In addition, are you running the latest from git, or one of the release tarballs?

[2016-11-30 19:39] alexl-kde opened #62 "Shadows go out of icons"
![image](https://cloud.githubusercontent.com/assets/22029700/20768124/023cdfaa-b73d-11e6-8e35-b56e3815ffc1.png)

[2016-12-01 08:13] GiBg1aN commented on #61
I'm running release tarballs version, anyway, i see that you the icon i need exists, you put it in control panel, its called "access.svg". The problem is that when i enable some accessibility options the icon should spawn in the "status bar"(that one with battery and wifi icons), and it spawn as a white square, I'll attach screenshots ASAP. Ty for answering.

[2016-12-01 08:20] GiBg1aN commented on #61
![after](https://cloud.githubusercontent.com/assets/5871979/20786605/50144686-b7a7-11e6-8d26-3566db905dfc.png)
![before](https://cloud.githubusercontent.com/assets/5871979/20786606/5018a67c-b7a7-11e6-9719-8e33fc62be39.png)

[2016-12-03 19:44] KarBoraN opened #63 "Nautilus Folder icon problem - Gnome 3 (Fedora 25)"
Nautilus folder icon problem.
For solution.
[code]

Thanks for icon theme . Thats very nice !

[2016-12-05 17:57] keeferrourke commented on #62
I'm going to need more information than that. What desktop environment are you using? did you clone directly from master?

These shadows should be clipped to the shape of the icon, and render appropriately on GNOME 3.20.

[2016-12-05 18:08] keeferrourke commented on #61
@GiBg1aN I can't seem to find this icon anywhere >.< there is `apps/scalable/access.svg` but this is not the correct context for the status bar. Removing it also doesn't seem to cause the square to fall back to the default gnome icon.

@DarkknightAK do you have any insight?

[2016-12-05 18:10] keeferrourke commented on #63
@KarBoraN the `apps/scalable/org.gnome.Nautilus.svg` already exists in La Capitaine as of https://github.com/keeferrourke/la-capitaine-icon-theme/commit/85fd0256fe2b27e5972c6098ba70167285a0a882 back in October.

[2016-12-05 18:10] #63 closed

[2016-12-05 18:45] KarBoraN commented on #63
Ohh ok 👍 . when you should update download link on gnome-look.org.
Thanks.

[2016-12-06 07:32] GiBg1aN commented on #61
In my gnome and Adwaita dirs there is `apps/scalable/preferences-desktop-accessibility-symbolic.svg` could it be what we are looking for?

[2016-12-07 06:17] keeferrourke commented on #63
Hmm... v0.3.1 and onward should have the fix. I don't recommend downloading old versions, but because this theme is still evolving I leave old versions kicking around for reference. Perhaps I'll clarify that only new releases are supported on gnome-look.org's product page.

Cheers.

[2016-12-07 06:21] keeferrourke commented on #61
@GiBg1aN that's what I would think, but this image is already located at `apps/symbolic/preferences-desktop-accessibility-symbolic.svg`.

![preferences-desktop-accessibility-symbolic](https://cloud.githubusercontent.com/assets/6888381/20957013/542a97fc-bc1b-11e6-8f9e-e6e898904150.png)

I'll mess around with it and hopefully have a fix up soon. I'm in the middle of final exams so working on this is

[2016-12-07 10:11] GiBg1aN commented on #61
NP man, good luck! If i find a solution I'll let you know!

[2016-12-10 18:01] btd1337 opened #64 "[Request] New indicators"
New indicators icons: redshift-gtk, uget downloader

**elementary OS add icon theme**

![original](https://cloud.githubusercontent.com/assets/11943860/21075139/b8516958-bef1-11e6-8113-1489683f9e4c.png)

**La Capitaine icon theme**
![captura de tela de 2016-12-10 15 55 07](https://cloud.githubusercontent.com/assets/11943860/21075147/d355a642-bef1-11e6-9ef4-cc65612a2b05.png)

[2016-12-11 04:09] keeferrourke commented on #64
What exactly are looking to change for them to be improved? I can see that they look out of place on Elementary OS, but in other desktop environments they look fine. Are you looking for monochrome indicators? icons that aren't circular? You haven't explained the issue.

[2016-12-11 04:19] keeferrourke commented on #57
@kunamashina check out commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/30dcb6b5bffe73e31cdab3299b20678efc7d75f6 for the new wireshark icon. I based this off of the [emoji one shark](http://emojione.com/wp-content/uploads/assets/emojis/1f988.svg), but simplified the design, added subtle gradients and shadows, and made it a bit cuter.

![wireshark svg](https://cloud.githubuserc

[2016-12-11 04:34] kunamashina commented on #57
Hi,

That is fantastic ! Great work, very much appreciated. Although I would prefer a more serious icon since this is the software that pros only use. And therefore a serious icon like in the link below would be the one I opt for

https://goo.gl/images/yuB1B3

Looking forward to hearing from you

Thanks in advance and good luck with your exams

[2016-12-11 04:41] keeferrourke commented on #62
@alexl-kde can you pull the latest from master and let me know if the shadowing issue is gone as of 408def7 ?

I was "clipping" the shadows with another object before, but I've now converted the shadows to fixed paths. They should not render outside the icon anymore.

[2016-12-11 04:49] keeferrourke commented on #57
@kunamashina I like to think that the pros have a sense of humour, but I'll get a more serious alternative icon up. If it's not up tomorrow, just send me an email reminder :)

[2016-12-12 03:09] MarseilleDev opened #65 "White icons."
# Where is icons for dark themes?😩

![Dark_theme](https://cloud.githubusercontent.com/assets/19198757/21086866/8a1a9ca8-c031-11e6-8be2-1180426cc043.png)

[2016-12-12 10:04] alexl-kde commented on #62
As expected the shadow are fixed when converted to path. There are just two SVG renderers, the GNOME one (rsvg) and the Qt one, that doesn't support advanced SVG features like mask, blur and other filters. So it doesn't depend by the DE, everything uses Qt (Plasma, Lxqt and all the Qt apps) are affected ;-)
I checked Chrom* icons but the bug report is intended for all icons with shadow, you know i

[2016-12-16 04:51] keeferrourke commented on #62
it's understood that all icons with clipped shadows will be affected by this issue. I'll leave it open until all are fixed. It's going to be a while before I can clean this up completely however.

[2016-12-16 04:54] keeferrourke commented on #65
See issue #4, a dark version has been requested several times and it is the longest standing issue, however I just don't have the time to make one at the moment.

I'm in school right now, and redoing all of these icons would be a huge time-sink that I can't current afford. Bear with me, there will be one *eventually*.

[2016-12-16 04:54] #65 closed

[2016-12-18 20:00] feskyde opened #66 "[Request] Solus distributor logo"
Requesting distributor icons for [Solus](https://solus-project.com)

Icon name: `distributor-logo-solus` and `start-here-solus`
Icon reference:
![distributor-logo-solus](https://cloud.githubusercontent.com/assets/20542037/21296152/6d7c8bda-c543-11e6-8fc8-4d444c866f9c.png)

[2016-12-19 04:49] keeferrourke commented on #66
can you paste the output of `cat /etc/os-release` and `lsb_release -si` from a Solus box?

[2016-12-19 18:57] feskyde commented on #66
[code]

[2016-12-19 19:46] keeferrourke commented on #66
Perfect! thanks, I'll push an update sometime soon, no guarantees on when though. Please bear with me :)

[2016-12-20 00:20] DarkknightAK commented on #4
can you update the kde store with the styled icons? I'd like to make a blog post and link to your La Capitain icons in the kde.store

[2016-12-20 14:56] keeferrourke commented on #4
@DarkknightAK I can make another point release, but I'd prefer to hold off for a bit until a few more of the smaller issues are fixed. Ping me again before Christmas.

[2016-12-21 11:02] JoshStrobl commented on #66
For that matter, Budgie support would be appreciated as well.

[2016-12-21 23:19] keeferrourke commented on #66
@JoshStrobl what would be required for proper Budgie support? I don't currently have the time or resources the test the desktop environment, or do a Solus install at the moment. Feel free to open a new issue to address it if you want.

[2016-12-21 23:27] JoshStrobl opened #67 "[Request] Budgie support"
Support for the distro-agnostic Budgie desktop environment would be appreciated. The Budgie logo, which is downloadable under the Assets section of Budgie on the [Solus Branding Guidelines](https://solus-project.com/branding-guidelines/) page, is licensed as CC-BY-SA-4.0.

Budgie support will likely involve modification of `configure`. We report `XDG_CURRENT_DESKTOP` as `Budgie:GNOME`.

[2016-12-21 23:27] JoshStrobl commented on #66
Filed #67 with more details, let me know if you need any more or testing, happy to help.

[2016-12-24 01:41] btd1337 commented on #36
Adding this file to the folder actions/24 Its indicator normalizes the size.
[system-shutdown-symbolic.svg.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/671610/system-shutdown-symbolic.svg.zip)

[2016-12-24 19:27] keeferrourke commented on #67
commits b3294a9d5d3af4af982f4183d534f9ea24fb6131 and 73a14a79eb9c1f28054e95294f19c044852f74fc fix some minor aesthetic issues with Budgie, namely the "start-here" icon in the panel is now a generic applications icon, and icons in titlebars are consistently the correct size now.

[2016-12-24 19:29] keeferrourke commented on #16
See #67 and commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/73a14a79eb9c1f28054e95294f19c044852f74fc. This issue has been addressed. It was due to incorrect declarations of minimum application icon size in `index.theme` that caused this rendering issue in some apps, apologies for dismissing this earlier.

[2016-12-24 19:32] GrindamN commented on #16
Thanks for the fix, will report back to rest of Ubuntu Budgie team. No problem keeferrourke :). Keep up the good job.

[2016-12-24 20:18] keeferrourke commented on #66
Alright, so for proper Solus support:

* make `distributor-logo-solus.svg`
* add `application-x-solus-package` mime type for *.eopkg files
* add alternative mime type for *.desktop files
* address concerns in #67
* update `configure`

am I missing anything? I'll be pushing updates soon&trade;

[2016-12-24 20:38] keeferrourke commented on #66
@feskyde here's a preview of the distributor-logo!

![solus](https://cloud.githubusercontent.com/assets/6888381/21468695/d075ec18-c9ee-11e6-8c23-302a6b994ef0.png)
`distributor-logo-solus`

[2016-12-24 20:44] keeferrourke commented on #67
To do:

- [ ] add `distributor-logo-budgie.svg`
- [ ] add alternative mime type for *.desktop files
- [ ] update `configure`

[2016-12-24 21:13] JoshStrobl commented on #66
Looks great @keeferrourke. You're not missing anything that I can think of off to the top of my head :+1:

[2016-12-24 21:32] keeferrourke commented on #67
@JoshStrobl here's a preview of changes!
![budgie](https://cloud.githubusercontent.com/assets/6888381/21468811/92fa2fa4-c9f6-11e6-9366-9a8702a3895c.png)
`distributor-logo-budgie`

[2016-12-24 21:59] keeferrourke commented on #67
updated the configuration script in commit 54e980f, La Capitaine should now fully support the Budgie desktop environment!

[2016-12-24 22:01] #67 closed

[2016-12-24 22:03] keeferrourke commented on #66
with proper support for Budgie, as addressed in issue #67, I've pushed commit 54e980f which adds support for Budgie and Solus in the `configure` script. Solus should now be fully supported!

I'm going to close this issue for now, but if I missed something feel free to ping me and I'll reopen it.

[2016-12-24 22:03] #66 closed

[2016-12-24 23:06] feskyde commented on #66
Thanks! 😄

[2016-12-26 19:00] Sadi58 opened #68 "[Request] Status icons for Redshift & ClipIt"
I've found the following 3 icons missing from my Unity top panel (Ubuntu 16.10)

Application: _Redshift_
Icon names: _redshift-status-off.svg_ & _redshift-status-of.svg_
Context: _status_
Icons proposed: [redshift-status-off+on.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/673252/redshift-status-off.on.zip)

Application: _ClipIt_
Icon name: _clipit-trayicon.svg_
Context: _stat

[2016-12-26 19:17] Sadi58 opened #69 "[Request] Mark All Upgrades toolbar icon for Synaptic Package Manager"
I think a symbolic link named **system-upgrade** to the icon **go-up** might suffice to complete the monochrome toolbar icons in Synaptic Package Manager.

Application: _Synaptic Package Manager_
Icon name: _system-upgrade_
Context: _action_
Icon reference: symlink to _go-up.svg_

[2016-12-26 20:44] keeferrourke commented on #68
This format is fine :)

Unfortunately I probably won't get around to fixing this until the new year, but feel free to ping me if you think I forgot about it :P

[2016-12-27 17:48] PaulMarco opened #70 "Monochrome panel icons Ubuntu"
The icons on the top panel of ubuntu are too dark, it is difficult to see. Please, to change all the icons of the panel to monochrome icons.
![la-capitaine-icon-ubuntu](https://cloud.githubusercontent.com/assets/16564571/21505103/5863ac1a-cc32-11e6-8c3e-de33884a5202.jpg)

[2016-12-27 22:38] barcia opened #71 "[Request] Google Inbox icon"
Application: Inbox
Icon name: chrome-pkclgpgponpjmpfokoepglboejdobkpl-Default
Context: Applications
Icon reference:
![](https://upload.wikimedia.org/wikipedia/commons/9/96/Google_Inbox_Logo.png)

[2016-12-27 22:40] barcia opened #72 "[Request] Kstars icon"
Application: Kstars
Icon name: kstars
Context: Applications
Icon reference:
![](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/KStars_icon_oxygen_hicolor.svg/206px-KStars_icon_oxygen_hicolor.svg.png)

[2016-12-27 22:42] barcia opened #73 "[Request] Kwave icon"
Application: Kwave
Icon name: kwave
Context: Applications
Icon reference:
![](https://www.kde.org/images/icons/kwave_48.png)

[2016-12-27 22:45] barcia opened #74 "[Request] Kid3 icon"
Application: Kid3
Icon name: kid3
Context: Applications
Icon reference:
![](https://upload.wikimedia.org/wikipedia/commons/d/dd/Hi48-app-kid3.png)

[2016-12-27 22:46] barcia opened #75 "[Request] WhatsApp icon"
Application: WhatsApp
Icon name:
Context: Applications
Icon reference:
![](https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg)

[2016-12-28 22:57] keeferrourke commented on #70
This is a probably a duplicate of issue #4.

Unfortunately creating another version of the icon theme for dark gtk themes/panels is a huge time commitment I can't make at this time.

[2016-12-28 22:57] #70 closed

[2016-12-28 23:05] keeferrourke commented on #69
should be fixed now :) see commit 6cc3200

[2016-12-28 23:05] #69 closed

[2016-12-28 23:06] Elbullazul commented on #70
@keeferrourke you could use something like imagemagick and batch-recolour the icons

[2016-12-29 07:38] wangxa opened #76 "[Icon request] fontforge"
Application name: `FontForge`
Application description: `An outline font editor`
Icon name: `fontforge`

![fontforge](https://cloud.githubusercontent.com/assets/1250269/21538928/c5812e86-cd99-11e6-9528-4c0eed1c1740.png)

[2016-12-29 07:40] wangxa opened #77 "[Icon request] Typora"
Application name: `Typora`
Application description: `a minimal Markdown reading & writing app`
Icon name: `typora`

![typora](https://cloud.githubusercontent.com/assets/1250269/21538958/1239938a-cd9a-11e6-813e-f3047773f199.png)

[2016-12-29 07:45] wangxa opened #78 "A new symbolic link to application-x-rar.svg"
The mime type of RAR file in the current release of Fedora has changed to 'application/vnd.rar'. So I think there should be a new symblic link to application-x-rar.svg, named as 'application-vnd.rar.svg', in order to make RAR's icon looks correct.

Thank you.

[2016-12-29 07:48] wangxa opened #79 "Some icons are missing the extension names"
For example, the file `application-vnd.ms-excel` is missing `.svg` in the git commit version of 136fdcd.

[2016-12-29 20:41] keeferrourke commented on #78
should be fixed as of commit f742509 :)

[2016-12-29 20:41] #78 closed

[2016-12-29 20:57] keeferrourke commented on #79
thanks for pointing this out! I found the following files to be the only ones affected and renamed them appropriately:

In mimetypes/scalable:
 * `application-vnd.ms-excel` &rarr; `application-vnd.ms-excel.svg`
*  `application-x-xz-svg` &rarr; `application-x-xz.svg`

This has been fixed in commit 12c93b1.

[2016-12-29 20:57] #79 closed

[2016-12-29 22:14] keeferrourke commented on #68
I took your suggestions to heart, but used modifications of icons from [the Material Design Icons](https://github.com/Templarian/MaterialDesign) project instead of the ones you attached.

[2016-12-29 22:14] #68 closed

[2016-12-29 23:17] keeferrourke commented on #64
redshift indicator icons were updated re: issue #68

[2016-12-30 12:30] Sadi58 commented on #64
next on the list is uget and transmission perhaps ;-)

[2016-12-30 14:33] Sadi58 opened #80 "Icon size problem in System Monitor"
Gnome's System Monitor displays names of running processes with app icons. Iin the absence of one, mime icon for binary files is used, and it seems La Capitaine has a sizing problem here as can be seen in the screenshot below:
![image](https://cloud.githubusercontent.com/assets/6375934/21566616/3dcc3912-cead-11e6-898f-fb530e7c7756.png)

[2016-12-30 15:39] Sadi58 opened #81 "emblem image size (especially for symbolic-link)"
This might be something preferential: I personally prefer emblems to be very small, and/or quite transparent.
This becomes much more of an issue in the case of symlinks as can be seen in the screenshot below (I tend to symlink almost all user files to a Data partition, in addition to a System and Home partition).
No problem if we agree to disagree as well (I'll then do a minor tweak to reduce them

[2016-12-30 15:56] Sadi58 commented on #81
Like this ;-)
![image](https://cloud.githubusercontent.com/assets/6375934/21567986/4b558ffa-ceb9-11e6-900e-915384eb7628.png)

[2016-12-30 16:08] Sadi58 opened #82 "Ubuntu 16.10: Guest Session icon"
Ubuntu's system menu has an item called Guest Session displayed with an avatar image.
This is almost invisible in La Capitaine, although the current user's active status is shown clearly with a white tick in a black circle.
It seems changing the fill color `#ffffff` to `#000000` solves the problem, but I don't know if this may cause problems elsewhere.
![guestsession](https://cloud.githubuserconte

[2016-12-30 16:39] strelec opened #83 "[File type icon] Scala"
Scala is a modern programming language, but its source files are just marked as text.

![scala logo](https://www.scala-lang.org/resources/img/smooth-spiral.png)

I propose simple red icon with with those three lines.

[2016-12-30 17:10] keeferrourke commented on #64
@Sadi58 I need icon names and references.

[2016-12-30 17:16] keeferrourke commented on #80
fixed. (holy google chrome processes :fearful: )
![screenshot from 2016-12-30 12-14-51](https://cloud.githubusercontent.com/assets/6888381/21569294/9f54cb0a-ce89-11e6-8a7e-4953e7457444.png)

[2016-12-30 17:16] #80 closed

[2016-12-30 17:20] keeferrourke commented on #81
I'm going to agree to disagree here &ndash; I tend to use detailed list views instead of icon views, and emblems (such as symlinks) at smaller sizes tend to be more difficult to distinguish.

Of course, feel free to make whatever local modifications you want :wink:

[2016-12-30 17:20] #81 closed

[2016-12-30 17:23] keeferrourke commented on #82
That icon probably shouldn't be white, you're right. I believe it's used in most places as a generic/default profile icon, so it's hard to get right given there are so many contexts. This said, I'll see what I can do; what's the filename?

[2016-12-30 17:46] keeferrourke commented on #83
![text-x-scala svg](https://cloud.githubusercontent.com/assets/6888381/21569775/eee5279c-ce8d-11e6-84ef-fe931a26bed1.png)
`text-x-scala.svg`

[2016-12-30 18:00] Sadi58 commented on #64
Here are `indicator-cpufreq*.svg` status files from Emerald-Dark icon theme:
[indicator-cpufreq.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/679015/indicator-cpufreq.zip)

[2016-12-30 18:07] Sadi58 commented on #64
And here is the  `transmission-tray-icon` from `/usr/share/icons/ubuntu-mono-light/apps/22` - I don't know if it could work in `status` subfolder as well:
[transmission-tray-icon.svg.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/679035/transmission-tray-icon.svg.zip)

[2016-12-30 18:14] Sadi58 commented on #64
And here are **uget tray icons** from  `/usr/share/icons/hicolor/22x22/apps`:
[uget-tray-icons.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/679042/uget-tray-icons.zip)

[2016-12-30 18:20] Sadi58 commented on #81
I understand. Such small emblems would be hardly visible in detailed view I guess. I wish the system could indicate symlinks in some other way, e.g. different text color -- until then we have to choose one or the other...

[2016-12-30 18:24] Sadi58 commented on #82
Sorry, I forgot something again in a rush. The file concerned is `./emblems/scalable/avatar-default.svg`

[2016-12-30 19:37] strelec commented on #83
I think this one is really beautiful, maybe a touch bigger icon. Or not. You're the designer.

Thanks!

[2016-12-30 19:59] #83 closed

[2017-01-03 05:36] kunamashina commented on #57
Anything new in the meantime bro?

[2017-01-03 23:36] mioe opened #84 "[Request] f.lux icon"
https://justgetflux.com/
![flux-icon-big](https://cloud.githubusercontent.com/assets/16230771/21627111/9c9b899e-d226-11e6-84a7-f399b518afc2.png)

[2017-01-06 21:07] mioe opened #85 "[Request] Oneko icon"
![screenshot from 2017-01-07 00-05-45](https://cloud.githubusercontent.com/assets/16230771/21732981/4b1d1dd2-d46d-11e6-806d-a12a2419ce0b.png)

[2017-01-06 21:15] keeferrourke commented on #85
I need file name for the icon, or at the very least the package name so I can install it and find the icon myself...

[2017-01-06 21:17] keeferrourke commented on #84
I need the icon name from the desktop file.

[2017-01-06 21:18] keeferrourke commented on #75
missing icon name? Is this a chrome extension?

[2017-01-06 21:28] kajzersoze commented on #4
Too bad there is no dark version, hence I can't use this icon set, however I don't see why you can't do that with simple script and Inkscape, there's no need to convert them manually.

[2017-01-11 02:28] keeferrourke commented on #4
@kajzersoze feel free to do so yourself. I'm aware that it's a simple fix, however I don't want to maintain two versions of the icon set at this time. I'll write some scripts that will take care of the bulk of this work eventually... I've just been very busy as of late :)

[2017-01-11 02:36] keeferrourke commented on #57
Not as of late... I've been busy. I can't seem to find an icon reference for OpenXenManager however, and it (at least the Ubuntu package) doesn't come with a desktop file... so I'm unable to theme it at this time.

I can do an alternate design for wireshark as requested, but I'm not sure how to approach this. I'd like to keep the cute icon as the default &ndash; would pushing a `wireshark-alt.svg`

[2017-01-11 14:12] mioe commented on #85
Application name: oneko
Application description: A cat chases mouse pointer
Icon name: oneko_cat

[2017-01-11 14:14] mioe commented on #84
Application name: f.lux indicator applet
Application description:Better lighting for your computer
Icon name: fluxgui

[2017-01-11 14:51] Kalle72 opened #86 "Some new problems with xfce"
Hello again,

Thanks a lot for repairing the issues with evince, I mentioned in [35](https://github.com/keeferrourke/la-capitaine-icon-theme/issues/35). Aditionally, I am sorry for the long write-up which comes next ;-)

Unfortunately, some new problems occurred (I use xfce):

1st: The new logon- and logoff-buttons are very small compared to other icons in the status lines
![bild1](https://cloud.g

[2017-01-12 09:46] kunamashina commented on #57
That's ok :) 👍

[2017-01-14 04:02] digital-idiot opened #87 "[KDE 5] Quit icon missing in Push Notifications"
Quit icon in push notifications is missing. For illustration see:
![icon_missing](https://cloud.githubusercontent.com/assets/10576475/21952221/6890c376-da3c-11e6-8825-0ad63c904530.png)

[2017-01-15 18:17] keeferrourke commented on #57
@kunamashina there's the alternate icon, finally :)
You just need to rename the files as you please to apply the correct one - pulling to update La Capitaine shouldn't cause any conflicts with your local copy of the theme, as I don't think I'll be modifying the wireshark icons anytime in the foreseen future.

[2017-01-15 18:17] #57 closed

[2017-01-15 18:22] keeferrourke commented on #75
@barcia what's the icon name?

[2017-01-15 18:29] keeferrourke commented on #86
This is a totally reasonable complaint, but something that will take a while to fully address. I suppose you are completely correct, that applications which call for coloured (non-symbolic) icons should be allowed to do so. I'll be working on this to correct the problems in XFCE - of course feel free to ping me if you think I'm being lazy or not properly addressing the issue.

Thanks for pointing

[2017-01-16 23:39] keeferrourke commented on #87
What is it supposed to look like?

[2017-01-17 00:55] keeferrourke commented on #61
Fixed the image! The accessibility menu should display properly now! :grin:

[2017-01-17 00:55] #61 closed

[2017-01-17 01:38] digital-idiot commented on #87
Generally it looks like the following :
![icon_bug](https://cloud.githubusercontent.com/assets/10576475/22004662/71a4973c-dc83-11e6-9cef-8a79e774c40b.png)

You may notice the quit symbol which was missing previously. It came back when I applied a different icon theme.

[2017-01-17 04:41] keeferrourke commented on #87
@digital-idiot strange... anyway you can try to figure out which icon that is? it may be missing from La Capitaine, or just be corrupt.

[2017-01-17 08:38] GiBg1aN commented on #61
Good job, TY!

[2017-01-17 11:30] digital-idiot commented on #87
Found a workaround. Creating a symbolic link named **window-close.svg** pointing to any appropriate icon file(for example you may make it point to **window-close-symbolic.svg**) at $HOME/.local/share/icons/la-capitaine-icon-theme-0.4.0/actions/symbolic/ or /usr/share/icons/la-capitaine-icon-theme-0.4.0/actions/symbolic/ depending upon where the theme is actually installed,  will resolve the issue.

[2017-01-17 20:55] keeferrourke commented on #87
Not going to close this yet, as you should note that [`actions/scalable/window-close.svg`](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/actions/22x22/window-close.svg) already exists!

Can you pull the latest commits from master and check if it's still an issue?

[2017-01-18 03:53] digital-idiot commented on #87
Yes, it exists. But it is located at  _actions/22x22/_. But I had to create a symbolic link at _actions/symbolic_ in order to work. However I will pull the latest commit to check if it is resolved and let you know.

[2017-01-18 04:02] keeferrourke commented on #62
Should be fixed now for all icons that use shadowing!

[2017-01-18 04:02] #62 closed

[2017-01-18 04:06] keeferrourke commented on #87
It *shouldn't* matter which directory the `window-close.svg` icon is located in, but it would be strange conventionally for it to be in the `symbolic` directory, when it's not actually a symbolic icon. KDE upstream should be looking for `window-close-symbolic` if this is the case.

[2017-01-18 04:17] digital-idiot commented on #87
Yeah, you are right. For example in Breeze(default theme in KDE), `window-close.svg` is located at `actions/32` and there is also `window-close-symbolic.svg` in `actions/scalable`. However there is no `window-close.svg` in `actions/scalable`/. Still it works fine. I don't know how it does not work in this case. I will try the latest commit and see what happens.

[2017-01-18 05:38] digital-idiot commented on #87
I tried the latest commit, the issue still persists. Probably a KDE bug I suppose.

[2017-01-18 12:33] Sadi58 opened #88 "keyboard indicator icons"
Scalable status  icons are dark grey, but symbolic status icons are light grey. As a result, for example, the keyboard indicator icon on my Ubuntu top panel doesn't match with the rest.
The others displayed in the menus (network, keyboard, power, sound & session) are not so much of a problem (because all are light grey there) as long as you don't happen to use a window theme that is too close to t

[2017-01-18 14:25] dw72 opened #89 "[icon request] Gradio"
Application: gradio
Context: Applications
Icon reference: https://raw.githubusercontent.com/haecker-felix/gradio/master/data/icons/hicolor/de.haeckerfelix.gradio.svg

[2017-01-18 16:28] keeferrourke commented on #88
Would you mind adding a screenshot to your issue? I recently recoloured all the `*-symbolic` icons to `#bebebeff` to conform with the GNOME spec.

[2017-01-18 16:31] keeferrourke commented on #87
I'll add a redundant `window-close.svg` to the symbolic directory then.

[2017-01-18 16:38] keeferrourke commented on #89
I updated your comment to be a better reference. I'll get to this eventually.

[2017-01-18 16:43] keeferrourke commented on #36
@btd1337 I recently adjusted the sizing and padding of a *lot* of icons, is the here still an issue?

Sorry I haven't got around to adding your zipped icons yet... Stay posted I guess :)

[2017-01-18 17:36] digital-idiot commented on #87
That should do the trick as of now. I do not know if other KDE users have the same issue. It'll be great if this could be confirmed from another user. In that case this bug should be reported to KDE.

[2017-01-18 18:32] Sadi58 commented on #88
This is how it looks like on my Unity top panel:

![image](https://cloud.githubusercontent.com/assets/6375934/22077543/3ddf3700-ddbd-11e6-9bcb-4430a789c1d4.png)

[2017-01-19 01:52] btd1337 commented on #36
Unresolved issue.

PS: Only a small feedback: Try to vary more the colors of your icons. See how the blue color has prevailed too much.

![la-capitaine](https://cloud.githubusercontent.com/assets/11943860/22090359/3a531d0c-ddd8-11e6-9baa-f3dc62728db3.jpeg)

Compare with OS X icons

![captura de tela de 2017-01-18 23 49 05](https://cloud.githubusercontent.com/assets/11943860/22090459/ce11a1a8-ddd8-

[2017-01-20 14:19] keeferrourke commented on #36
Noted. Improving the colour scheme is a difficult thing to achieve as I cannot ever be sure which suite of applications you'll install. Typically I try to keep them distinct, but there's really not much one can do.

To-do on this issue:

- [] add support for attached zip of icons (see previous comments)
- [] double check sizing/padding is correct for all icons

[2017-01-20 14:20] keeferrourke commented on #88
Will look into it, stay posted.

[2017-01-20 14:21] keeferrourke commented on #87
@DarkknightAK can you confirm?

[2017-01-21 14:48] btd1337 commented on #36
Don't use both the blue color is already good start.

[2017-01-21 23:58] Ufeldraku opened #90 "Icon Requests ;)"
-ePSXe
Name=ePSXe
Icon=/usr/share/pixmaps/epsxe.png
Exec=/usr/bin/epsxe
-Lollypop.
Icon=/usr/share/applications/org.gnome.Lollypop
-Qt Video 4 Linux Utility
Icon=/usr/share/icons/hicolor/[multiple sizes from 16x16 to 64x64]/apps/qv4l2.png

[2017-01-22 03:48] keeferrourke commented on #90
I'm not sure what you mean by this?

[2017-01-22 14:51] Ufeldraku commented on #90
You know, your icons are coloured, if you could make a black and white version for themes like vimix-dark/light, etc. Or a flat variation of your icons.

[2017-01-23 03:51] keeferrourke commented on #90
do you mean like how some of the action icons have colour? you're asking for a totally grayscale version of action/ status/ panel/ etc icons?

I could table that as a wishlist item. Recolouring is time consuming.

Flat meaning like no gradients on the scalable application/mimetype/status icons?

... unfortunately that probably won't happen; that would be even more demanding of a task, redoing ever

[2017-01-23 03:53] keeferrourke commented on #88
Seems that there was a redundant set of keyboard indicator icons that snuck their way into `status/symbolic`. I've removed these in commit b926fcd, would you mind pulling the latest commits from master and verify that the colouring has been fixed?

[2017-01-23 13:52] Sadi58 commented on #88
Yes, it's OK now, thanks! :-)

[2017-01-23 13:52] #88 closed

[2017-01-23 17:58] Ufeldraku commented on #90
Oh, ok. Yeah grayscale, and yeah, I knew it would be time consuming, but maybe for the future?
And maybe in the future I will throw money at you, as you have a Patreon page, and I will request those flat and black and white icons ;v.

[2017-01-25 00:49] Elbullazul opened #91 "Small inconsistency for Archive manager"
I love this theme, however I've found this small bug:
![screenshot_2017-01-24_19-47-29](https://cloud.githubusercontent.com/assets/15310985/22273327/12069d8e-e26e-11e6-8e8c-00e058769301.png)

the folder icon is slightly bigger than the files icons. maybe a small bug, but I though I'd report it anyway.

cheers and thanks for your hard work

P.S. the bug appears in Xubuntu + Cinnamon 3.0 (don't ask

[2017-01-25 01:55] Ufeldraku commented on #91
Chico, eso se ve muy feo, MUY FEO. CinnXP? Enserio?

[2017-01-25 02:58] Elbullazul commented on #91
@Ufeldraku cuando se desarrollan temas a veces no hay opcion. desde el año pasado que no tengo un escritorio bien arreglado con buenos iconos y tema harmonizado

[2017-01-25 03:41] Ufeldraku commented on #91
Ah, :v, escribí sin saber. No olvides los temas vimix.

[2017-01-25 13:42] RastaDill opened #92 "[Request] ROSA"
Hello
Please add icon distribution ROSA

Application: Usually the opening global menu
Icon name: distributor-logo.svg
Context: distribution ROSA
Icon reference:
![distributor-logo](https://cloud.githubusercontent.com/assets/12989870/22292627/9ca37da6-e325-11e6-8504-acb6316872c1.png)

[2017-01-28 00:41] keeferrourke commented on #91
Updated all your comments with English translations, sorry if they are poor &mdash; I did not check them thoroughly.

Regarding the actual reported issue, I've just changed some sizing in the theme index &mdash; hopefully this resolves the problem!

[2017-01-28 00:46] keeferrourke commented on #92
Can I get the output of the following commands from your ROSA machine?

 * `lsb_release -a`
* `cat /etc/os-release`

[2017-01-28 07:09] RaitaroH commented on #4
@keeferrourke Hi there. I actually made a dark variant of this. Is not perfect but you should be able to do it better.
I used the script 1 from: https://github.com/erikdubois/Arc-Theme-Colora
After I installed the necessary software in script 0 and gpick I went to work. I replaced the colors such as 343434 or 555555 or 4d4d4d with f2f2f2 (this is what breeze dark uses)
This is how it looks like:
O

[2017-01-28 12:49] RastaDill commented on #92
cat /etc/os-release
NAME="ROSA Desktop Fresh R8"
VERSION="EE 2014.1 Desktop"
ID=rosa
VERSION_ID=2014.1
PRETTY_NAME="ROSA Desktop Fresh R8 EE 2014.1 Desktop"
ANSI_COLOR="1;43"
CPE_NAME="cpe:/o:rosa:rosalinux:2014.1"
HOME_URL="http://www.rosalinux.com/"
BUG_REPORT_URL="http://bugs.rosalinux.ru/"

lsb_release -a
LSB Version:    core-2.0-amd64:core-2.0-noarch:core-3.0-amd64:core-3.0-noarch:core-3.1-am

[2017-01-28 21:44] keeferrourke commented on #4
@RaitaroH hey there! thanks for recolouring the icons for me, that's going to save me a lot of work. When I get a chance I'll incorporate that archive into La Capitaine and have the light/dark variants ready for a 0.5.0 release.

I was planning on doing this is by including `*-dark` folders in the main La Capitaine project (and respectively renaming the existing folders to `*-light`), which would

[2017-01-29 01:25] Ufeldraku commented on #91
They're actually good bro. Lo hiciste bien.

[2017-01-29 04:19] RaitaroH commented on #4
@keeferrourke Thanks for the quick response.  Regarding the settings icons and the trash icons, those were suggestions. In order to keep the icon set untouched I just have another one with the changes I like and then inherit this one :)
Also I cannot be sure if all dark icons are fine. They looked fine to me and I am using them right now and I don't see any issues. It is possible that some icons d

[2017-01-29 16:21] RaitaroH opened #93 "[Icon request] LinuxMint specific apps, CinnamonSettings"
Me again. Here is the stuff:

I looked in the configure script and I noticed there is no cinnamon desktop icon there. Would be nice to add that. Cinnamon now has a logo for itself. I took this from the cinnamon spices website:
[cinnamon.svg.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/737580/cinnamon.svg.zip)

In cinnamon-settings:
cs-applets.svg  cs-desklets.svg  are the sam

[2017-01-29 19:07] Elbullazul commented on #91
@keeferrourke it does indeed fix the bug, thanks for your great effort & attention ;)

[2017-01-29 19:07] #91 closed

[2017-01-29 19:53] keeferrourke commented on #93
Hey there,

I've updated the formatting of your comment to be more readable.

Regarding the cinnamon specific desktop icons, I'll add that to my to-do list. With respect to the update manager, I have no way of finding out what that icon is either &mdash; you could try browsing the source the code for the updater app to find the name of the icon, but I have absolutely no time to do this. I also don

[2017-01-29 20:03] keeferrourke commented on #4
@RaitaroH noted, I'm slowly getting through a lot of redesigns, so not worry &mdash; I will address this eventually.

[2017-01-29 20:12] RaitaroH commented on #93
I really like developers that answer to users fast. I am the same.
I am aware about the .local and I do use it for custom stuff of my own. The problem in my case is with in compatibility of the apps with the xfce4-panel so it has nothing to do with your icons. I just pointed that out in case it may be useful to you or anyone else. I did fixed it for myself as you can see in that script.
I am the k

[2017-01-29 23:42] keeferrourke commented on #93
@RaitaroH Ah, I understand now.

Thank you for the kind feedback! La Capitaine isn't anywhere near complete yet, but I'm working on it :smile: The goal is to properly support every distribution possible eventually &mdash; even though that is a slow burn.

And regarding the dark theme, I'm working on completing the dark theme from issue #4 right now :wink: Just doing a lot of careful checking of ic

[2017-01-30 01:43] keeferrourke commented on #4
Alrighty. Looks like I'm done for now. Thanks again to @RaitaroH for recolouring so many icons!

For those of you that want the dark version, follow these simple instructions:

 * pull the latest commits from master
 * run `./configure` and answer the prompts according the set up you want; by default La Capitaine still uses the light variant of the theme.

[2017-01-30 04:09] keeferrourke commented on #82
This should be fixed with the latest commits for the dark theme. Now the `avatar-default` icon's colour is picked by the configuration script when you run it.

[2017-01-30 04:14] keeferrourke commented on #86
I did a fair bit up cleaning up and de-duplicating of redundant icons in the latest few commits. If this is still issue, please point which icons in particular are affected, and I'll work from there.

[2017-01-30 04:16] keeferrourke commented on #49
Closing this, as it should have been solved by commit 1a1b717994a6b03179dfe0fa18d796e32b2f09fc

[2017-01-30 04:16] #49 closed

[2017-01-30 05:09] RaitaroH commented on #4
Download it, move it to .icons, configured it, and works well. I think you can close this thread now,

[2017-01-30 09:57] Sadi58 commented on #82
Great! Thanks :-)

[2017-01-30 09:57] #82 closed

[2017-01-30 15:22] kajzersoze commented on #4
Seems fine, good job all !

[2017-01-31 17:06] bil-elmoussaoui opened #94 "Icon Request : Atom Beta"
| Application name | Icon name | Desktop file name | Original icon | Theme |
| --- | :-- | :-- | :-- | :-- |
| Atom Beta | `atom-beta` | `atom-beta.desktop` | ![Atom Beta](http://i.imgur.com/m55T6KR.png)| la-capitaine-icon-theme |

This issue was automatically created using IconRequsts.

[2017-01-31 17:07] bil-elmoussaoui opened #95 "Icon Request : Caprine"
| Application name | Icon name | Desktop file name | Original icon | Theme |
| --- | :-- | :-- | :-- | :-- |
| Caprine | `caprine` | `caprine.desktop` | ![Caprine](http://i.imgur.com/EccZER6.png)| la-capitaine-icon-theme |

This issue was automatically created using IconRequsts.

[2017-01-31 17:07] bil-elmoussaoui opened #96 "Icon Request : Visual Studio Code"
| Application name | Icon name | Desktop file name | Original icon | Theme |
| --- | :-- | :-- | :-- | :-- |
| Visual Studio Code | `visual-studio-code` | `visual-studio-code.desktop` | ![Visual Studio Code](http://i.imgur.com/kSYb4Li.png)| la-capitaine-icon-theme |

This issue was automatically created using IconRequsts.

[2017-01-31 17:07] bil-elmoussaoui opened #97 "Icon Request : WebTorrent"
| Application name | Icon name | Desktop file name | Original icon | Theme |
| --- | :-- | :-- | :-- | :-- |
| WebTorrent | `webtorrent-desktop` | `webtorrent-desktop.desktop` | ![WebTorrent](http://i.imgur.com/gRbpAST.png)| la-capitaine-icon-theme |

This issue was automatically created using IconRequsts.

[2017-02-01 04:33] #4 closed

[2017-02-01 04:53] keeferrourke commented on #38
Should be completely fixed at this point, as of the commits that resolved issue #4. More redundancy checking needs to be done, but I'm fairly certain the main points of this issue have been addressed. Closing for now.

[2017-02-01 04:53] #38 closed

[2017-02-04 00:38] keeferrourke commented on #94
added in commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/d6f79aefe4ab2f28c2ac5adf2f648437c373da8d.

[2017-02-04 00:38] #94 closed

[2017-02-04 10:57] M4he opened #99 "Icon Request: Meld"
Application | Icon Name | Context | Original Icon
--- | --- | --- | ----
**Meld** | `meld` | app | ![apps_meld](https://cloud.githubusercontent.com/assets/1408105/22617939/c9d05e36-ead0-11e6-8d71-1d191bb72373.png)

[2017-02-05 20:56] btd1337 opened #101 "Change Icon: Switchboard"
On elementary OS switchboard = System Settings

Switchboard -> Icon=preferences-desktop

Change this icon to point in Icon=preferences-system

[2017-02-05 22:00] btd1337 commented on #36
Changes for improving color balance on elementary OS

[code]

![captura de tela de 2017-02-05 19 56 44](https://cloud.githubusercontent.com/assets/11943860/22630231/4c190a8e-ebdd-11e6-95fe-43b18ddb060a.jpeg)

[2017-02-06 01:47] aotsishd opened #102 "JetBrains IDEs icons not working"
All of the JetBrains IDEs icons remain unchanged (both local and global shortcuts), as seen in the photo.

![screenshot from 2017-02-05 19-45-07](https://cloud.githubusercontent.com/assets/25573839/22632089/eeb87538-ebdb-11e6-918d-d98d4966f056.png)

Also, Gogland, Rider and JetBrains Toolbox seem to be missings icons.

[2017-02-06 09:55] SpriteMidr commented on #102
It doesn't work for Netbeans, or BlueJ either.

Are you sure there are implementations for those icons actually in this repository, I have had a look but I might be looking in the wrong place.

If not, just go and have a look at the `.desktop` configuration file for the application in ` /usr/share/applications` or `~/.local/share/applications` and see where the icon path points to?

I don't know a

[2017-02-06 12:25] keeferrourke commented on #101
@btd1337 which icon is this? Is switchboard already in La Capitaine, what icon does it reference?

[2017-02-06 12:29] keeferrourke commented on #102
There are two possibilities here:

 * A lot of IDEs unfortunately hardcode their icon paths in their desktop files &mdash; In this case you should be editing them yourselves.
 * I have the icon names wrong and will need you to paste the problematic desktop files here so I can update symlinks.

I have no way of knowing which is actually the problem, so please do a bit of investigating on your local

[2017-02-06 12:38] keeferrourke commented on #36
@btd1337 I can't endorse the changes you've made as they're specific to your set up only. I have however symlinked `internet-new-reader.svg` to `feedreader.svg` per your request, as that icon didn't actually exist.

[2017-02-06 12:40] keeferrourke commented on #87
Closing this due to inactivity and apparent fix from commit 0aa3175.

[2017-02-06 12:40] #87 closed

[2017-02-06 18:08] aotsishd commented on #102
Alright so I checked and yes, icons happen to be hardcoded. IntelliJ IDEA for example is located in
`/usr/local/share` and icon points to `/home/aotsishd/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/163.12024.16/bin/idea.png`. Same goes for the other IDEs, all of them point to similar paths depending on the program version.

I was able to fix the global shortcut just by changing the path. Howev

[2017-02-06 23:31] kun-zhou opened #104 "[Bug] System applications icon not displayed in KDE menu"
In KDE Plasma 5.8, the menu directory `System` has a blank icon. I have experimented with it a bit. The correct directory entry for this menu directory is `/usr/share/desktop-directories/kf5-system.directory`. In the `.directory ` file, it writes `Icon=applications-system`. Now, this icon is clearly present in `/usr/share/icons/la-capitaine-icon-theme/apps/scalable`. I think the fact that it is a

[2017-02-07 01:09] keeferrourke commented on #102
Adding them here is fine! I need the icon name specified in the desktop file (regardless of the path) and a reference for what the original looks like.

[2017-02-07 01:12] keeferrourke commented on #104
Can you post a screenshot of the issue?

...It's possible `applications-system` or indeed `applications-*` icons in La Capitaine are corrupt under KDE's SVG rendering engine &mdash; this has been an issue for some icons in the past. If this is the case, I'll redesign them.

[2017-02-07 01:25] kun-zhou commented on #104
No problem. I have attached a screenshot. I would also like to clarify the following: If I change the file name of the icon, (not the icon itself, just the name in the scalable folder), and change the corresponding `.the directory` entry in the `desktop-directories` folder to update the icon it is mapping to, the icon will show up properly.

![screenshot_20170206_202125](https://cloud.githubuserco

[2017-02-07 01:36] keeferrourke commented on #104
@kun-zhou I'll take a look, but I won't be able to address this issue for at least a week. Midterms have snuck up on my again, and they're back with a vengance.

[2017-02-07 01:38] kun-zhou commented on #104
@keeferrourke Haha, no worries. Thanks.

[2017-02-07 01:39] aotsishd commented on #102
| Application name | Icon name | Icon |
| ------------- | ------------- | ------------- |
| JetBrains Toolbox |  toolbox  | ![image](https://cloud.githubusercontent.com/assets/25573839/22673921/b0661b60-eca2-11e6-86a1-ad5d827e030a.png) |
| MPS | .icon | ![image](http://resources.jetbrains.com/assets/media/open-graph/mps_250x250.png)  |
| Rider | .icon | ![image](https://pbs.twimg.com/profile_image

[2017-02-07 05:38] keeferrourke commented on #102
Can I get the full paths for the `Icon` entries in the desktop files then? That way I can at least given the icons meaningful names.

[2017-02-07 06:07] aotsishd commented on #102
| Application name | Icon path | Missing icon? |
| ---- | ---- | ---- |
| CLion | `/home/aotsishd/.local/share/JetBrains/Toolbox/apps/CLion/ch-0/163.10154.43/.icon.svg` |
| DataGrip | `/home/aotsishd/.local/share/JetBrains/Toolbox/apps/datagrip/ch-0/163.12455.1/.icon.svg` |
| Gogland | `/home/aotsishd/.local/share/JetBrains/Toolbox/apps/Gogland/ch-0/163.12024.27/.icon.svg` | Yes |
| IntelliJ IDEA

[2017-02-07 20:02] keeferrourke commented on #102
@aotsishd that's really annoying... I wish corporate software would obey desktop standards :^)

Here's what I'll do, I'll put a notice in the README about these stupid icons, and add the missing ones named according to what I think they *should* be called.

To-do:
- [ ] add notice to README
- [ ] add `apps/scalable/gogland.svg`
- [ ] add `apps/scalable/mps.svg`
- [ ] add `apps/scalable/rider.svg`

[2017-02-10 16:26] keeferrourke commented on #64
To-do on this issue:
- [ ] add `indicator-cpufreq` icons
- [ ] add `transmission-tray` icons
- [ ] add `uget-tray` icons

[2017-02-11 09:10] lucazade opened #105 "[Bug] Missing save and setting icons in KDE menu"
There are no more save, save as and settings icons in menus.
Attached Kate screenshot with missing icons in red circles!
![screenshot_20170211_100613](https://cloud.githubusercontent.com/assets/1557010/22852697/47ba47aa-f042-11e6-87cb-4bc1f5b45e02.png)

[2017-02-12 20:21] keeferrourke commented on #105
Yikes! Do you know have any idea which commit broke them? What the file names should be?

[2017-02-12 20:35] keeferrourke commented on #92
Here's a preview! Sorry for the wait!

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ![rosa](https://cloud.githubusercontent.com/assets/6888381/22865775/bb0f7cb0-f138-11e6-8d2e-dd79bb87339e.png)
`distributor-logo-rosa.svg`

[2017-02-12 20:41] #92 closed

[2017-02-13 02:10] lucazade commented on #105
No idea about filenames and which commit broke them. If you need I can try some old release.

[2017-02-13 03:39] keeferrourke commented on #36
@btd1337 check out commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/de7d034c26304b78cd5cfa9728fa704d10c5124e, it should hopefully (finally) fix the sizing issues you've been having with the Pantheon desktop.

The symbolic status icons were a mess.

[2017-02-13 03:43] keeferrourke commented on #105
@lucazade was it a recent pull? I honestly don't have time to tackle this issue right away; it might be a few weeks before I can take a proper look.

[2017-02-13 03:44] keeferrourke commented on #42
This *should* be fixed by commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/de7d034c26304b78cd5cfa9728fa704d10c5124e.

[2017-02-13 19:25] demoy commented on #105
I went through the stable releases,  _la-capitaine-icon-theme-0.3.2_ is the last version with functioning save/save-as icons. Strictly speaking icons are not missing, example _document-save_ is in the same place in version 0.3.2 and lastest commit [and that is _actions\22x22_ folder].

I replace the document-save icon with the _document-save-symbolic_  [both from latest commit, see below] and the

[2017-02-13 20:17] keeferrourke commented on #105
Should be fixed now!

[2017-02-13 20:39] demoy commented on #105
Fixed seen working below in Kate [application used by the riginal poster]
![screenshot_20170213_153631](https://cloud.githubusercontent.com/assets/2396524/22902198/4077bf06-f202-11e6-8dff-8fe90fecf364.png)

Now to uninstall Kate, ◔ᴗ◔.

[2017-02-13 21:02] lucazade commented on #105
thanks for the works guys!
save icons now are ok.. settings icon instead is still missing here :(

[2017-02-13 22:04] demoy commented on #105
Sorry About that I will run through to find it.

[2017-02-13 22:39] demoy opened #106 "[Bug] List of broken icons"
Related to [Missing save and setting icons in KDE menu](https://github.com/keeferrourke/la-capitaine-icon-theme/issues/105) [Edit: this is my karma for getting it close] here is a list of  icons with faulty xml I found using firefox. I will organize these icons base on directory, atmost 1 directory per post.

[included are screenshots for each item because I am assuming the column & line numbers w

[2017-02-13 22:54] demoy commented on #106
broken in _actions/symbolic/_

media-playlist-consecutive-rtl-symbolic.svg

![screenshot_20170213_175059](https://cloud.githubusercontent.com/assets/2396524/22906981/007732e8-f215-11e6-8792-77c69c5d13ef.png)

media-playlist-consecutive-symbolic.svg

![screenshot_20170213_175327](https://cloud.githubusercontent.com/assets/2396524/22907077/5e9ac934-f215-11e6-9a55-eaba8f760355.png)

I wont do _22x22-

[2017-02-14 00:31] demoy commented on #106
broken in status/symbolic/

media-playlist-consecutive-symbolic.svg

[2017-02-14 01:26] keeferrourke commented on #106
@demoy I've updated your comments with checkboxes so I can track my progress as I fix these issues.

You're correct, `22x22-dark` was generated from `22x22-light`; each `*-dark` directory was created as a copy of the light icons, and then a simple regex replace was run over every file. Any light icon's dark counterpart is very likely to be broken as well.

... It was probably this replacement that

[2017-02-14 01:49] keeferrourke commented on #105
The settings icons are likely likely to `22x22-*/document-properties.svg`; an icon that is broken as stated in #106. Will close this issue again when I fix it :)

[2017-02-14 01:53] keeferrourke commented on #105
@lucazade pull the latest commits and let me know if the settings icon has been fixed :)

[2017-02-14 02:38] keeferrourke commented on #106
This icon shouldn't even exist :^)

[2017-02-14 02:50] keeferrourke commented on #106
Everything on this issue should now be fixed :)

[2017-02-14 02:51] #42 closed

[2017-02-14 17:49] demoy commented on #104
System menu icons visible after recents commits -
![screenshot_20170214_124832](https://cloud.githubusercontent.com/assets/2396524/22941559/ec72484c-f2b3-11e6-9c36-612cd2c35b7a.png)

![screenshot_20170214_124921](https://cloud.githubusercontent.com/assets/2396524/22941571/03eff474-f2b4-11e6-8872-9c52a769c7a6.png)

[2017-02-14 17:56] kun-zhou commented on #104
Haha, thanks! I updated my icons from the git repo. Just wondering what is causing this issue? There are a couple of action button icons in `KWrite` that is experiencing the same issue. They are blank and the breeze fallback does not kick in. I would love to contribute if that's okay :)

[2017-02-14 17:59] demoy commented on #106
15 of 16 done,  _adjustrgb.svg_ still wonky -
![screenshot_20170214_125302](https://cloud.githubusercontent.com/assets/2396524/22941875/35ab7618-f2b5-11e6-819d-cc338779d66e.png)

[2017-02-14 18:05] demoy commented on #104
Which Kwrite icons?
If they still dont appear post a screenshot in [issue 106](https://github.com/keeferrourke/la-capitaine-icon-theme/issues/106), and I'l try to find it.

[2017-02-14 19:10] kun-zhou commented on #106
![screenshot_20170214_140546](https://cloud.githubusercontent.com/assets/19158151/22944578/2150d578-f2bf-11e6-9a9c-382719cea084.png)
Here, it seems like three icons in KWrite is still missing. Save, Save as, and find&Replace icons. I am running the latest icon pack from git as of this morning.

[2017-02-14 20:40] keeferrourke commented on #104
@demoy aside from the inconsistent look of the application icons in your screenshot, looks good. I'll try to fix the design of those icons later. Gonna close this issue, as it seems to have mostly merged with #106.

[2017-02-14 20:40] #104 closed

[2017-02-14 20:40] keeferrourke commented on #106
Huh. Will take another look.

[2017-02-14 20:43] keeferrourke commented on #106
Aghhhhh I'll go through the relevant icons and try to get them fixed ASAP. They should all be under `actions/`. If @demoy can help locate the broken icons as before, it would be super appreciated ^_^

[2017-02-14 20:56] keeferrourke commented on #106
Definitely fixed the `adjustrgb` icons this time.

[2017-02-14 21:11] keeferrourke opened #107 "[Bug] Inconsistent look of application category icons"
Investigation and redesign required. Noted in a screenshot by @demoy:
![something of a mess](https://cloud.githubusercontent.com/assets/2396524/22941559/ec72484c-f2b3-11e6-9c36-612cd2c35b7a.png)

[2017-02-14 21:11] keeferrourke commented on #104
@kun-zhou

Absolutely welcome! Any and all contributions will always be considered :)

@demoy Though you didn't mention it, I've opened another issue regarding the inconsistent look of the application categories icons. See #107.

[2017-02-14 22:09] demoy commented on #106
@kun-zhou the icon cache might be outdated, do any of the following:
A. select the icon theme again in system setting and apply.
B. log-out, then log-in.

If you do option A remember to restart any instances of kwrite you have open.
![screenshot_20170214_170724](https://cloud.githubusercontent.com/assets/2396524/22951684/14edd70e-f2d8-11e6-8123-8e57f8a03c66.png)

[2017-02-14 22:20] demoy commented on #106
I maybe kontes_close.svg [A symbolic link] in action/22x22 was intended to be knotes_close.svg

[2017-02-15 02:29] kun-zhou commented on #106
@demoy Okay, I rebooted and it the icons are updated. Thanks!

[2017-02-15 02:38] btd1337 commented on #101
Is specified: Switchboard -> Icon=preferences-desktop

[2017-02-15 02:42] btd1337 commented on #36
Closed? The problem has not yet been fixed.

![captura de tela de 2017-02-15 00 35 10](https://cloud.githubusercontent.com/assets/11943860/22958606/773181ba-f317-11e6-9a9e-d7b21dddbec3.jpeg)

[2017-02-15 06:27] twnaing opened #108 "configure for Dark Panel and White Windows theme"
Could you please make it possible to configure for Dark Panel & White Windows (e.g. Greybird theme) theme?

[2017-02-15 06:35] twnaing commented on #108
Currently I do the following to achieve what I want.

1. answer no to dark theme
2. go to `~/.icons/la-capitaine-icon-theme/panel` and delete symbolic linked `16` and `24` folders
3. manually run

[code]

[2017-02-15 17:34] Ufeldraku commented on #107
I love how much love and effort you put on your icon theme, kudos for that!

[2017-02-15 18:42] keeferrourke commented on #106
@demoy yup, fixed.

[2017-02-15 18:42] #106 closed

[2017-02-15 19:28] keeferrourke commented on #36
Reopened... Evidently more investigation required. I don't understand what can possibly be wrong with Pantheon though.

[2017-02-15 19:31] keeferrourke commented on #108
Sure thing, I can make the panel symlinking a separate prompt. Update should be in git sometime tonight, if it's not up by tomorrow ping me.

[2017-02-16 00:02] lucazade commented on #105
@keeferrourke fixed now! thanks a lot :)

[2017-02-16 02:20] #105 closed

[2017-02-18 14:02] #101 closed

[2017-02-18 19:52] keeferrourke opened #109 "[Community Feedback] Help me decide on an address book redesign (please share your thoughts!)"
I just redesigned the `addressbook.svg` / `x-office-address-book.svg` icon, but am not sure which elements need shadowing. I'm going to leave this one up to the community to pick a design, since I'm agnostic to all of them. This will help shape La Capitaine moving forward!

As it is right now from commit 55359e7fe376eea75db0ae72c33b25b331bc376d; here the bookmark has no dimension, and the addressb

[2017-02-19 18:42] camux opened #110 "[Request] Redesign Thunderbird icon"
Hi keeferrourke, Thanks for your great works, but I observed that the Thunderbird icon is very, very ugly and not it seems match with all theme icon, it is possible changed it?

[2017-02-19 18:54] RaitaroH commented on #109
Hmmm, not to late?
I prefer the first.

[2017-02-20 08:20] RastaDill commented on #92
Thanks a lot !!!

[2017-02-20 15:03] daltones opened #111 "Missing Transmission icons"
First of all I wanna thanks @keeferrourke for this great icon theme! 😃

Now the issue: I've noticed two icons missing from Transmission's GTK Frontend.

1. Button Options on the very bottom left (completely invisible):

La Capitaine:
![captura de tela de 2017-02-20 11-42-44](https://cloud.githubusercontent.com/assets/5603632/23130017/a2ead590-f763-11e6-984a-738529080ecf.png)

GNOME default icon th

[2017-02-20 18:45] Ufeldraku commented on #109
The first one looks better.

[2017-02-22 21:09] matthiasstukenberg opened #112 "Missing XMMS icon"
xmms the "winamp" of Linux

[2017-02-23 17:15] keeferrourke commented on #110
*very, very ugly*? harsh. I put a lot of effort into that icon. What about it do you not like? I can modify it accordingly.

[2017-02-23 17:17] keeferrourke commented on #111
If you can figure what those icons are called, I'd be happy to add them as soon as I can.

[2017-02-23 17:17] keeferrourke commented on #109
The first icon it is!

[2017-02-23 17:17] #109 closed

[2017-02-23 17:19] keeferrourke commented on #112
Please follow the request format outlined in the readme, or look at other requests as reference. This is completely useless to me.

[2017-02-23 17:54] btd1337 opened #113 "Icon Request: Dbeaver Database Manager"
Application: Dbeaver Database Manager (http://dbeaver.jkiss.org/)
Icon: dbeaver

Original Icon:
![dbeaver 3 8 5](https://cloud.githubusercontent.com/assets/11943860/23271805/ac505f76-f9d7-11e6-9cd5-1efa3c59a62c.png)

This icon is horrible, if possible redesign it.  :p

[2017-02-23 18:34] daltones commented on #111
I actually don't know the right way of discovering those icon names.

But looking at `gtk3-icon-browser` and `/usr/share/icons/Adwaita`, I guess the “closing connections” is called `network-idle`. (btw with `gtk3-icon-browser` we can see other missing icons, like more `network-(error|offline|receive|...)` icons)

The “options” icon I didn't found in `Adwaita`. Then I tried `numix-circle` and if I'

[2017-02-23 20:13] strelec commented on #99
This one is pretty important app.

[2017-02-24 18:55] keeferrourke commented on #99
@strelec throw some money at me and I'll make this higher priority :wink:

[2017-02-24 19:02] keeferrourke commented on #111
Just took another look at `gtk3-icon-browser` and it seems that a lot of icons are unthemed, but I don't see any that are *missing* per se; that is, I don't see anything that fails to render or shows as a blank icon. Does this match the behaviour you're seeing?

[2017-02-24 19:14] daltones commented on #111
@keeferrourke Yeah, all those network icons just don't have La Capitaine versions yet. This seems normal.

But that blank icon in button “options” I can't see an explanation. As I said, it's weird that even Numix Circle is unthemed in this case, but not blank.

[2017-02-24 20:02] keeferrourke commented on #111
Are you by chance using the latest version from the master branch? There was a similar problem in KDE based environments re issues #106 and #107, but all the affected icons should have been fixed.

Perhaps pull the latest commits and let me know if there is still a problem?

[2017-02-25 00:39] daltones commented on #111
Yeah, just tried.

Unfortunately it's not fixed yet. 😿

[2017-02-25 01:35] demoy commented on #111
![screenshot_20170224_203406](https://cloud.githubusercontent.com/assets/2396524/23326824/9eac1b68-fad0-11e6-8a77-910aa3e288ef.png)

Interesting that the qt front end has shows the expected gnome ico. Maybe its another case of an outdated icon-cache.

[2017-02-25 11:46] matthiasstukenberg commented on #112
This is the icon not included in your icon set:
![missingxmms](https://cloud.githubusercontent.com/assets/25965679/23330797/ec93a35a-fb57-11e6-81de-0fee74b13b3b.png)

it is the XMMS Application icon. In my Distri located at /usr/share/pixmaps/xmms.png
![xmms](https://cloud.githubusercontent.com/assets/25965679/23330813/54c3faf6-fb58-11e6-901b-4acb6014c8e5.png)

I hop this information is sufficient

[2017-02-25 12:03] auroszx commented on #112
You should add the contents of `/usr/share/applications/xmms.desktop` or whatever is called on your distro. This line in particular: `Icon=some-icon.png`, for example. It's to make sure the new icon can be recognized and used instead of the original.

[2017-02-25 15:14] matthiasstukenberg commented on #112
contents of xmms.desktop:

[Desktop Entry]
Name=XMMS
GenericName=Audio Player
Comment=Play music
Comment[hu]=Zene lejÃ¡tszÃ¡sa
Comment[de]=Musik abspielen
Exec=xmms %U
Icon=xmms
MimeType=application/x-ogg;audio/mp3;audio/mpeg;audio/mpegurl;audio/prs.sid;audio/x-flac;audio/x-it;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-s3m;audio/x-scpls;audio/x-stm

[2017-02-26 02:38] keeferrourke commented on #95
symlinked the existing `messengerfordesktop.svg` to `caprine.svg`

[2017-02-26 02:38] #95 closed

[2017-02-26 02:40] keeferrourke commented on #50
added mahjongg in commit eee28d088a4c252ded7bbbb02af8815795017f32

[2017-02-26 09:57] RaitaroH opened #114 "[Not an issue] Extra icons"
Hey there, me again. I thought it would be nice to share the icons I have changed myself, in case you would ever find a need for them. Considering that I did, maybe someone else would as well. What I am talking about? I have changed the white variant icon you had for a fork of firefox and made that blue; I also changed the globe icon used for internet so I get the continents. I also changed a few

[2017-02-27 17:55] keeferrourke commented on #114
Hey @RaitaroH, I'm thinking of incorporating your `firefox-arctic` into La Capitaine as an updated version of the GNU Icecat icon. Yours looks ``icier'', so fits better. I may also include the dark versions of the trash icons as well. thoughts?

[2017-02-27 18:46] keeferrourke commented on #97
Here's a preview of the recently pushed icon:
![webtorrent](https://cloud.githubusercontent.com/assets/6888381/23374603/fa51d0a6-fcf2-11e6-9948-38ebfbb17d1f.png)
&nbsp; `webtorrent.svg`

[2017-02-27 18:46] #97 closed

[2017-02-28 04:45] RaitaroH commented on #114
@keeferrourke It is your call if you use these icons or how you use them :+1:

firefox-arctic.svg has a simple gradient (with your colors) and the firefox.svg has the continents from ooo-web.svg icon. I personally like it more with the continents : P (maybe because firefox always had the continents in it's icons). I actually use it as the main firefox Icon because I like it like that, but I do bel

[2017-02-28 06:24] keeferrourke commented on #114
Honestly, I should be working with a more consistent colour palette / gradient selection ... but I don't :stuck_out_tongue_winking_eye: thanks for pointing out the gradient inconsistencies, I'll be looking into the following icons:
 - [ ] `gnome-shell-extension-prefs.svg`
 - [ ] `cs-extensions.svg`
 - [ ] `conky.svg`

I will likely update the configuration script to deal with the trashes (and prob

[2017-02-28 18:05] RaitaroH commented on #114
:+1:

[2017-03-02 14:39] demoy opened #118 "[Bug] Most monochromatic icons don't follow KDE inherited colorscheme"
![screenshot_20170302_062857](https://cloud.githubusercontent.com/assets/2396524/23510666/75f7501e-ff28-11e6-91b7-56e5d3565578.png)

The 3 faulty icons in the sample above are, view-list-icons.svg,
view-media-playlist.svg, and application-menu.svg in actions/22x22 (_I think_).

Most KDE users (myself incl.) use a light colorschemes making the issue inconspicous. After a quick glance over in status

[2017-03-02 15:39] keeferrourke commented on #118
I was afraid I would break this again... I believe @DarkknightAK did the original CSS recolouring to match KDE, perhaps he would be willing to help out again?

@demoy I unfortunately don't have the time to invest into this issue right now. Exams never end *sigh*. If you would be able to submit a list of affected files, and a solution to fix the problem, that would be fantastic. It should be a simp

[2017-03-02 15:45] demoy commented on #118
kk, I'll _eventually_  look deeper into this.

[2017-03-03 09:29] DarkknightAK commented on #118
Changes are needed only in the actions 22x22-light folder?

@demoy if you want to look deeper sort the folder according size and than have a look (in kate) of one small size (where the styling work correct) and the bigger sizes.

Ordinary you have a d="" section. Open a smale (template) icon and copy the d="" stuff into this template.

I have a script but you have to prepare that only onde d="" se

[2017-03-03 22:03] demoy commented on #118
@DarkknightAK

Thanks for setting an easy starting point.

Thanks that would be appreciated, I'll attempt this weekend.

[2017-03-05 09:15] ryzokuken commented on #52
What's the status on this? I am facing the same problem (all icons are rendered perfectly, but the power icons looks ugly as hell) this issue does not occur when I use Numix or Paper (if it helps)

[2017-03-05 09:34] ryzokuken opened #119 "XFCE4 Power Manager uses Adwaita icon"
I am currently using XFCE4 in Xubuntu 16.04.2 LTS

All icons work perfectly (I have configured it to work for a dark theme) but the power manager indicator icon defaults to Adwaita and I cannot manage to fix it. If it helps, Numix and Paper work properly.

![screenshot_2017-03-05_15-01-14](https://cloud.githubusercontent.com/assets/13121330/23586125/f87544b8-01b4-11e7-8a01-dd56e3d705b5.png)

[2017-03-05 19:57] keeferrourke commented on #52
Hi @ryzokuken I saw the issue you opened. This has fallen by the wayside for a while because I've been busy. I'll try to take a look this week, but I'm super busy with school assignments right now. As mentioned before, it's likely that I just need to add symlinks with names of the pattern `xfpm-primary-*`. I don't currently have XFCE set up though, so I cannot test this right now.

[2017-03-05 21:50] ryzokuken commented on #52
@keeferrourke If it involves only symlinking, I could submit a PR if you could give me a little more detail about what to do (if you are too busy to do it). Also, I could help you test it if you'd like. Keep up the good work.

[2017-03-06 01:42] javashin opened #120 "The battery icon on mate dont show it correctly on mate desktop (1.12.1 - Freebsd) 1.16.1 GTK3 Freebsd And Gentoo"
![screenshot at 2017-03-05 21-31-29](https://cloud.githubusercontent.com/assets/15115613/23593958/0005755e-01ec-11e7-853a-24685944adaf.png)

I don't Know Why Is this Happening But i Failed Trying to Fix It. On Xfce4 amd Gnome 3.22 on Freebsd Works. I dont Know Why it Dont On Mate-Desktop
i hope this gets fixed i like this icon theme a lot.

[2017-03-07 00:24] keeferrourke commented on #52
I *think* every `xfpm-battery-*` icon needs to be symlinked to an `xfpm-primary-*` with the same suffix. For example:
 * `ln -s xfpm-battery-000-charging.svg xfpm-primary-000-charging.svg`
 * `ln -s xfpm-battery-caution.svg xfpm-primary-000-caution.svg`
 * etc.

A PR + testing would be welcome, thanks!

[2017-03-07 00:32] keeferrourke commented on #120
Oof. Looks like there's a *lot* of unthemed icons on your desktop. Any chance you could compile a list of them and post them here?

The battery issue is likely related to #9, #119, and/or #52 . I'm guessing that (similar to XFCE), MATE might be expecting the missing `status/scalable/gpm-primary-*` icons... I'll try to get a fix up soon (maybe by the end of the week if assignments go well)

[2017-03-07 09:49] elvisd opened #121 "[Request] IntelliJ Idea"

[2017-03-07 12:48] USBA opened #122 "Add new places icons"
Please add new places (folder) icons. Current icons don't match with the beauty of la-capitaine's app icons.

[2017-03-07 12:51] USBA commented on #122
This is my suggestion.
![screenshot from 2017-03-07 18-18-53](https://cloud.githubusercontent.com/assets/19838220/23657127/a7ffa9e2-0362-11e7-80a5-05947fe5d9b9.png)

Download these places (folder) icons --->
[places-new.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/824388/places-new.zip)

[2017-03-07 15:14] keeferrourke commented on #122
I'll kindly disagree here. Feel free to use custom places icons on your machine, but I think the current folder icons are very nice, and I've put a fair bit of work into them. I shouldn't be making any changes to them in the foreseeable future, so even if you're using the latest git version, your local copy should not have conflicts when you pull.

Cheers, and thanks for the suggestion.

[2017-03-07 15:14] #122 closed

[2017-03-07 15:18] keeferrourke commented on #121
La Capitaine already includes several IntejjiJ IDEs. A few more are tabled to be included when I get a chance to add them. Please clarify if this is not the issue, and follow the request format outlined in the Wiki [here](https://github.com/keeferrourke/la-capitaine-icon-theme/wiki/Submitting-Icon-Requests).

This is likely a duplicate of issues https://github.com/keeferrourke/la-capitaine-icon-th

[2017-03-07 15:20] demoy commented on #122
@keeferrourke  the public folder and template folder in la-capitaine currently are not themed maybe copy the grapheme (I think thats the word) without the folder change.

[2017-03-07 15:28] keeferrourke commented on #122
@demoy I will open a separate issue and add the missing folders with emblems that are more inline with the current material-ish design.

[2017-03-07 15:57] demoy commented on #118
Before/After
![context menu](https://cloud.githubusercontent.com/assets/2396524/23662755/91cce43a-031e-11e7-87c7-ec5bcdd1dd8f.png)![screenshot_20170306_151316](https://cloud.githubusercontent.com/assets/2396524/23662771/9a4ffed0-031e-11e7-91ab-5443eb53138e.png)

![dolphin toolbar](https://cloud.githubusercontent.com/assets/2396524/23662788/a231479e-031e-11e7-88b1-43f1c124246f.png)![screenshot_2017

[2017-03-07 18:01] keeferrourke commented on #118
@demoy don't be afraid of creating new issues, it ensure that problems *are* noticed and addressed *eventually*. Fixed the broken symlink in commit a601e3b.

[2017-03-08 07:33] elvisd commented on #121
Edited the .desktop file to point to intellij icon (mine was intellij-idea)

[2017-03-08 07:33] #121 closed

[2017-03-08 08:59] javashin commented on #120
Well I Dont have Gentoo Any more On FreeBSD the battery icon its working but only when the battery is not full when its at 100 % the icon looks like adwaita

[2017-03-08 09:04] javashin commented on #120
Well I Dont have Gentoo Any more On FreeBSD the battery icon its working but only when the battery is not full when its at 100 % the icon looks like adwaita

[2017-03-08 09:09] javashin commented on #120
![screenshot at 2017-03-08 05-03-13](https://cloud.githubusercontent.com/assets/15115613/23697084/bdf9c0c0-03bc-11e7-9e87-da9d6d8d45ce.png)

[2017-03-08 09:46] javashin commented on #120
![screenshot at 2017-03-08 05-41-53](https://cloud.githubusercontent.com/assets/15115613/23698568/6cd6bea4-03c2-11e7-886e-fa8ee94f46e7.png)

[2017-03-08 14:20] keeferrourke commented on #120
:+1: I will look into it.

[2017-03-08 17:44] demoy opened #123 "Icon Request: Incomplete downloads icon"
In Firefox, Qupzilla, Transmission, Youtube-dl, etc; incomplete downloads have _.part_ added to their extensions, la-capitaine currently does not style these extensions.

 Here the breeze icon that la-capitaine defaults to in KDE:
![screenshot_20170308_095848](https://cloud.githubusercontent.com/assets/2396524/23715812/bc97ec86-03e2-11e7-98cd-8995ea4022ef.png)

A related extension is _.crdownload_

[2017-03-09 03:14] keeferrourke commented on #123
Strange, the icon preview of .part files show are themed on my machine (albeit there could be a better icon). The mimetype for both `*.part` and `*.crdownload` files is `application/x-partial-download`.

To do:
- [ ] redesign/add mimetype icon for `application/x-partial-download` files

[2017-03-09 16:31] demoy commented on #118
You could automate this fixed, but doing it by hand lets you ensure _class="ColorScheme-Text"_ (if unset color defaults to black,). Alternate you can automate this fix then preview icons in your filemanager to identify the few that are now black.

In _la-capitaine-icon-theme/actions/22x22-light_ remove the redundant  _color:#4d4d4d_; from _style="color:#4d4d4d;fill:currentColor;fill-opacity:1;stro

[2017-03-09 16:42] demoy commented on #122
Sry your right, kde just ignores them (even in breeze).

[2017-03-09 16:49] jcuenod opened #124 "Icon Request: Nylas N1 (Nylas Mail / Nylas Pro)"
**Application:** Nylas N1 (not sure how this will change in the future with "Nylas Pro" and "Nylas Mail")
**Icon name:** nylas
**Context:** Mail client
**Icon reference:**
![image](https://cloud.githubusercontent.com/assets/4253884/23760574/c7a9370a-04b5-11e7-9174-bd37be246dda.png)

See also:
![image](https://cloud.githubusercontent.com/assets/4253884/23760598/d7d63c7c-04b5-11e7-8b6a-ba49b68c5097.

[2017-03-09 17:23] bil-elmoussaoui opened #125 "Add Hardcode-Tray Support"
Hardcode-Tray is a Python/Bash script that let the user fixes the hardcoded tray icons(those ugly ones) and replace them with better monochrome ones. For now, Hardcode-Tray is supported by Papirus, Numix theme. Which is already great, but it will be even better if you would like to get your theme to support it. Nothing need to be done from your part except of adding few tray icons for each support

[2017-03-09 18:42] keeferrourke commented on #125
I will definitely look into this, thanks for the suggestion!

[2017-03-09 18:59] bil-elmoussaoui commented on #125
The database of the icons can be found here https://github.com/bil-elmoussaoui/Hardcode-Tray/tree/master/database, just open whatever application you want to support, and read the JSON file. The icons are stored under the icons key, you will have to add the `theme` subkey.  For example https://github.com/bil-elmoussaoui/Hardcode-Tray/blob/master/database/anatine.json#L17

Some icons, does not have

[2017-03-09 19:21] keeferrourke commented on #125
perfect, thanks for the explanation!

[2017-03-09 19:28] keeferrourke commented on #124
This was a quick icon to make, let me know what you think before I commit it.

![nylas](https://cloud.githubusercontent.com/assets/6888381/23766881/8b0f47e8-04d4-11e7-85d7-6766aa7cfd13.png)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`nylas.svg`

[2017-03-09 20:29] jcuenod commented on #124
Looks good, the only thing I might suggest is changing the gradient in the background to match the reference gradient - but I realise that may not match the palette you have in mind for the icon set.

[2017-03-09 20:56] keeferrourke commented on #124
I based it off of this:
 ![image](https://cloud.githubusercontent.com/assets/4253884/23760598/d7d63c7c-04b5-11e7-8b6a-ba49b68c5097.png)

But here is another version with the alternate gradient.
![nylas_alt](https://cloud.githubusercontent.com/assets/6888381/23770401/e4313f14-04e0-11e7-944b-3657db730e1b.png)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`nylas.svg`

[2017-03-09 21:04] jcuenod commented on #124
I prefer the new one although now I'm also wondering whether it would be better to have the central bars a little brighter - this is what happens when you open design to suggestions ;) - should have just told me that's how it is... Nice job though, I really think this is one of the best icon themes for gnomeshell

[2017-03-09 21:32] keeferrourke commented on #124
Ha well I don't mind putting in a little extra work to craft something everyone likes :)

The central bars are now just `#ffffff`, as bright as I can make them lol. This will be the icon that get's committed ;)
![nylas](https://cloud.githubusercontent.com/assets/6888381/23771667/e58ed93e-04e5-11e7-8684-7471e6bfc37f.png)

[2017-03-09 21:34] #124 closed

[2017-03-09 21:38] jcuenod commented on #124
Nice, glad it's committed :)
It took me a while to figure out the 90% opacity thing - was wondering why it didn't look #fff hehe.
It's good though, I like it (and I'll just submit an issue or a pull request if I change my mind)...

[2017-03-09 22:06] keeferrourke commented on #124
Always welcomed :P

[2017-03-12 09:12] RaitaroH opened #126 "Missing symlinks for loading icons in cinnamon [Wtih fix]"
Ok, so here is the issue: when an image/folder loads it has a default loading image. I didn't notice it was inheriting from another of my icon sets until now. Here is how to fix it:

`cd /actions/22x22/`
`ln -fs document-open-recent.svg image-loading.svg`
`ln -fs document-open-recent.svg gnome-fs-loading-icon.svg`

Now, you could use another icon for this but I just used one you already had :P

Of

[2017-03-12 18:22] keeferrourke commented on #126
Added the missing icons in commit 8dae6b6.

If you want to share more of the icons you've made, just append them to your issue as a comment. Your contributions are always welcome, just try to keep them in the same place :)

Cheers!

[2017-03-12 18:22] #126 closed

[2017-03-12 18:38] RaitaroH commented on #114
Very fast with your commit (8dae6b6) as always :)

Regarding the icons, what can I say, I need more icons for my separate Firefox profiles.
![screenshot from 2017-03-12 20 33 35](https://cloud.githubusercontent.com/assets/19552720/23834683/315e79a8-0763-11e7-8cea-22fd58c98b2d.png)
[ExtraIcons.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/836793/ExtraIcons.zip)

[2017-03-13 02:13] #50 closed

[2017-03-13 02:24] USBA commented on #122
It's OK @keeferrourke . Thanks for your amazing work. I love this theme sooo much.

[2017-03-13 02:25] keeferrourke opened #127 "Add Folder Color support"
Some other popular themes support changing the default folder colours using a Nautilus/Caja/Nemo extension called "Folder Color". Support should be added to La Capitaine, following [these guidelines](http://bazaar.launchpad.net/~costales/folder-color/trunk/view/head:/README)

Aim to complete sections 1, 2, and 3 outlined in the above guidelines:
- [ ] Add `folder_color_[blue | brown | green | grey

[2017-03-13 17:35] keeferrourke commented on #118
@demoy have you had a chance to work on this? I'd like to get this fixed before I release v0.5.0, but don't really have the time to go through so many files. I'd prefer if it were done correctly, and I'm not currently working (nor have I ever worked) under KDE.

[2017-03-13 18:05] demoy commented on #118
@keeferrourke, Ok I'll resolve the easy ones first (which is most of them) and and try to send a push today (maybe 2 hours).

[2017-03-13 18:06] demoy commented on #118
Lols, closed by accidends.

[2017-03-13 19:56] demoy commented on #118
Yes made the hour mark, I forking this repository I will edit a link into this comment in ~15minute (I hate git so I suspect it will take this long).  The remaining icons will take some time further, Feel free to reduce the reduce the severity of this issue after merging, and maybe exclude the remaining icons from the version 5 milestone.  Also sorry I didn't do this before but I assumed you just

[2017-03-13 22:15] javashin commented on #120
I reinstalled gentoo and the icon pack works fine on xfce gnome and cinnamon and the same problem on freebsd with the battery is there too the battery icon theme is wrong when the battery is full its uses adwaita icon when its discharging and charging not 100 % the icon is ok.
![screenshot at 2017-03-13 18-10-08](https://cloud.githubusercontent.com/assets/15115613/23877478/ea4f1bce-0818-11e7-8e97-

[2017-03-13 22:43] demoy opened #128 "[Bug] transmission icon wont scale."
![screenshot_20170313_174048](https://cloud.githubusercontent.com/assets/2396524/23878251/57c8b386-0814-11e7-8c89-99596b9debfc.png)

[2017-03-14 01:16] demoy commented on #118
Got the last one, I going to check over each file tonight to make sure I didn't miss any.

[2017-03-14 02:55] keeferrourke commented on #128
Probably gonna need more information here, I don't have this issue under GNOME.

[2017-03-14 04:19] surajmandalcell commented on #120
same problem here any updates?

[2017-03-14 14:52] keeferrourke commented on #120
No updates right now. Feel free to look into it; my focus is mostly on exams right now and I don't have time to test MATE/XFCE at the moment.

[2017-03-14 14:56] surajmandalcell commented on #120
I have exams too at this time of the year xD
Later then m8

[2017-03-14 18:39] demoy commented on #128
@keeferrourke Your right the icon, scale in other applications.  I dont understand why its the only icon that fails to scale in the taskbar. I'm closing this since I don't know how to proceed.

[2017-03-14 18:39] #128 closed

[2017-03-14 18:48] keeferrourke commented on #128
@demoy what is it supposed to look like?

[2017-03-14 18:51] demoy commented on #128
![screenshot_20170314_135015](https://cloud.githubusercontent.com/assets/2396524/23917398/311fc702-08bd-11e7-9073-59c2c5cc5737.png) @DarkknightAK here is qupzilla in the same taskbar.

[2017-03-14 22:14] demoy commented on #118
I noticed that the updates-available statusbar icon in opensuse wasn't fixed, so I decide to change the grep pattern to try and find it..  now I regret doing that: <details> grep -rl 'fill:#bebebe'
actions/symbolic/document-print-symbolic.svg
actions/symbolic/go-down-symbolic.svg
actions/symbolic/go-first-symbolic.svg
actions/symbolic/go-last-symbolic.svg
actions/symbolic/go-next-symbolic.svg
acti

[2017-03-16 19:34] demoy commented on #118
@keeferrourke i have noticed some off-default colors such #555555 in _panel/24-light/audio-*_ files are these intentional are should they be #4d4d4d or #bebebe? Also sorry It taking so long its just hard for me to stay focus on this issue for more than 20 minutes at a time without losing interest.

[2017-03-17 00:39] keeferrourke commented on #118
can you provide an example? that's likely unintentional, probably left over from the Great Recolouring™

[2017-03-17 15:56] demoy commented on #118
@keeferrourke Sure, in [audio-volume-high-panel](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/1a1b717994a6b03179dfe0fa18d796e32b2f09fc/panel/24-light/audio-volume-high-panel.svg) for instance the fill color is _#555555_; i see know from the last commit message in  _panel_ all icons are intended to be colored _#bebebe_. May I correct these as I go along?

[2017-03-18 18:47] now-im opened #130 "qbittorrent icon in notification not changing KDE"
As you can see, in KDE task bar qbittorrent icon has changed but not in the notification are. I am not sure whether it is an issue with qbittorrent or not.

![screenshot_20170319_004348](https://cloud.githubusercontent.com/assets/22009014/24074978/5af83a36-0c3d-11e7-8800-13ba6161acc2.png)

[2017-03-19 16:23] keeferrourke commented on #130
This is likely an issue with qbittorrent. It could probably be fixed if support was added to https://github.com/bil-elmoussaoui/Hardcode-Tray

cc: @bil-elmoussaoui

probably related to isse: #125

[2017-03-19 16:24] keeferrourke commented on #130
@now-im if possible, also submit a bug report to the qbittorrent project, and ask them to update their packages' desktop files

[2017-03-19 17:40] bil-elmoussaoui commented on #130
It was an upstream issue of qbittorent and I have fixed it upstream few weeks ago. As far as I can remember, the new icon name is qbittorent-tray see my PR  https://github.com/qbittorrent/qBittorrent/pull/6249

[2017-03-21 08:21] alex285 opened #131 "Terminix was renamed to Tilix.."
..thus can you please link to Tilix?

[2017-03-21 08:24] alex285 opened #132 "Tune down the brightness of folder colors"
can you please reduce a little bit the lightness of the the additional folder colors? it is stronger than the defaults one (blue), specially on green

[2017-03-23 18:52] now-im commented on #130
So, in my understanding the problem should be solved with icon path changing?

[2017-03-24 06:12] now-im commented on #130
Closing the issue as it seems to be a problem in qbittorrent.

[2017-03-24 06:12] #130 closed

[2017-03-24 09:11] bil-elmoussaoui commented on #130
@now-im It's not a problem with qbitorrent, the icon name was changed by me recently; using the new icon name will fix it ;)

[2017-03-24 16:09] now-im commented on #130
I don't know how to manually change icon name. Using the Monochrome(Dark Theme) for tray icon style. At least that suits my taste.

[2017-03-25 10:05] Paullux opened #133 "[Gnome] Theme directory categories/symbolic of theme la-capitaine-icon-theme has no size field"
Hello,

I am on ArchLinux with Gnome and i have this error :+1:

(nautilus:17193): Gtk-WARNING **: Theme directory categories/symbolic of theme la-capitaine-icon-theme has no size field

[2017-03-25 18:07] keeferrourke commented on #132
In particular, which folder colour options do you find to be too bright? Can you provide an alternative colour pallette that you would prefer?

[2017-03-25 18:46] alex285 commented on #132
@keeferrourke basically you can close this issue if you want to, because when i opened it, i tried to re-color all my folders. for example if i make them all "Green" it is really bright and annoying on eyes. and take into account that depends on the monitor too

but in regular use, colorizing just 2-3 folders that you want to highlight works fine

however i still think that the "brightness" and "p

[2017-03-25 19:37] keeferrourke commented on #132
I'll mess around with the colour palette again some time this week. I'm in the middle of exams (why am I always in the middle of exams!), but I'll be sure to get to this when I have some spare time. Cheers!

[2017-03-25 19:39] keeferrourke commented on #131
Yup, this has been requested a few times already. Thanks for opening the issue though so I can track this. Is the new icon simply `tilix.svg`?

[2017-03-25 19:41] keeferrourke commented on #133
Hey there @Paullux can you make sure that you're using the latest version from git? There are no entries for a categories directory in the current [index.theme](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/index.theme) file. Cheers.

[2017-03-25 19:46] Paullux commented on #133
I use the version of AUR

[2017-03-25 19:53] keeferrourke commented on #133
I don't maintain that, so I can't be sure that it's always up to date. I know it was improperly flagged as out of date a while ago... not sure if that has an impact. Try cloning this repository, as instructed in the README and let me know if you still have issues.

[2017-03-25 20:01] Paullux commented on #133
I installed your theme from your git now.

[2017-03-25 22:21] alex285 commented on #131
yeah, you need to rename this, and the gexperts.. link. i have done it already locally and it works, i just didnt pull request because it would be more work for you!

[2017-03-26 03:30] keeferrourke commented on #131
Honestly pull requests are always welcome! Especially if you're just fixing symlinks.

[2017-03-26 03:30] keeferrourke commented on #131
oops :^)

[2017-03-26 03:36] #133 closed

[2017-03-29 03:18] #131 closed

[2017-03-30 04:00] surajmandalcell opened #135 "[request] Add Kazam Icons"
Kazam has been my favorite screencast app for long time now but your borgeous set does not include its icons.

[2017-03-30 13:26] keeferrourke commented on #135
Please follow the request format outlined in the wiki [here](https://github.com/keeferrourke/la-capitaine-icon-theme/wiki/Submitting-Icon-Requests).

[2017-04-04 08:14] javashin commented on #120
hello any updates on this ?

[2017-04-04 10:11] surajmandalcell commented on #135
#### [Request] Kazam
Icon name: kazam.desktop
Context: Screen capture tool/ Screencaster
Icon reference:
![](http://blog.byron.mx/wp-content/uploads/2013/11/kazam.png)
kazam.desktop content
[code]

[2017-04-08 22:35] keeferrourke commented on #118
crap, I forgot about this. @demoy of course, do whatever you think is necessary to improve consistency. thanks for your contributions! :)

[2017-04-08 23:05] demoy commented on #118
Ok! Sorry in-between homes right now, I want to get back at this once I find a place.

[2017-04-09 01:45] keeferrourke commented on #118
totally understand!

[2017-04-09 16:18] divinae opened #136 "Request! Darktable, Kdenlive, Dropbox"
In my opinion Kdenlive and Darktable icons should have logos of this apps.
And please create dropbox in circle icon.

[2017-04-10 19:24] keeferrourke commented on #119
Should be fixed now; working on my new xubuntu installation at the very least. Closing.

[2017-04-10 19:24] #119 closed

[2017-04-10 19:25] keeferrourke commented on #110
Closing due to inactivity and lack of explanation on how to improve this icon.

[2017-04-10 19:25] #110 closed

[2017-04-10 19:26] keeferrourke commented on #52
Should be fixed in the latest commits. See issue #119.

[2017-04-10 19:26] #52 closed

[2017-04-10 19:30] keeferrourke commented on #136
Please follow the request format outlined in the wiki.

[2017-04-10 19:31] keeferrourke commented on #120
@javashin I'm in the middle of finals, so I'll have some more time on my hands in a few weeks. I ask that you just sit tight for now, an update will come soon.

[2017-04-10 20:37] LunaticLock opened #137 "Xfce issues"
the top panel icons don't work in xfce, in particular the battery icon, the others are always too dark, so i can't see them

[2017-04-10 20:41] #137 closed

[2017-04-11 09:39] surajmandalcell commented on #120
hum....

[2017-04-17 06:31] DroWnThePoor opened #138 "[question/maybe issue] Symbolics/Dark-Theme?"
Wondering if there are dark variants of many of these icons for a dark theme.
For instance: Your theme changes much of Inkscape's icons and they are of the dark variant, which makes theme impossible to view with my dark theme.
![inkscape](https://cloud.githubusercontent.com/assets/16339020/25081033/d441604a-2315-11e7-87dd-e24c2c8ce55c.png)
Perhaps a line in the config I could change?

[2017-04-17 07:28] RaitaroH commented on #138
Have you configured the theme? It looks to me like you haven't. Just go to the installed folder and ./configure. (I also recloned the icon pack just to see if there was an issue in the latter commits; there aren't)
Here is what Inkscape looks like to me:
With the dark variant:
![screenshot from 2017-04-17 10 23 36](https://cloud.githubusercontent.com/assets/19552720/25082225/f6d9008a-2357-11e7-92e

[2017-04-17 12:29] camux opened #139 "Propose for new Thunderbird Icon"
IMHO, this version of thunderbird Icon is better that current one

https://icons8.com/web-app/38697/thunderbird

[2017-04-17 20:43] DroWnThePoor commented on #138
I think I just cloned it, when I started I wasn't using a dark theme so it never even occurred to me, thank you I will configure it immediately.

[2017-04-20 07:40] keeferrourke commented on #139
okay... great. but why is that one better?

I'm all for improving the icon, but... what exactly is wrong with the current one?

[2017-04-20 07:44] keeferrourke commented on #138
Thanks for checking this out. Make sure that you run `$HOME/.icons/la-capitaine-icon-theme/configure` when you change your GTK theme.

Alternatively, clone the theme into two directories, and configure one to be dark and the other to be light; this will allow for quicker theme switching.

[2017-04-20 07:44] #138 closed

[2017-04-24 16:49] linusg opened #142 "Some icons that need to be symlinked (Linux Mint default apps)"
Just for reference, as I wrote in my Email:

`apps/scalable/mintdrivers.svg` -> `apps/scalable/jockey.svg`
`apps/scalable/xplayer.svg` -> `apps/scalable/multimedia-video-player.svg`
`apps/scalable/xviewer.svg` -> `apps/scalable/accessories-image-viewer.svg`
`apps/scalable/pix.svg` -> `apps/scalable/accessories-image-viewer.svg`

These need to be symlinked to get themed on Linux Mint, the driver ma

[2017-04-24 16:59] linusg opened #143 "Python icons: Split into Python 2 and Python 3 icons and add Symlinks for 3.5 and 3.6"
There's just one Python icon, however, most Linux distributions have both Python 2 and 3 installed by default. I think it would be useful to make an icon `python2.svg` and `python3.svg`, each with a small version number indicator. The `python.svg` icon can be kept, for example `idle.svg` symlinks to it. I'm not asking for a redesign, just a split of the icon and a small badge for the two new ones.

[2017-04-25 07:52] linusg opened #144 "Redesign Vivaldi Snapshot/Beta"
There are .deb packages for Vivaldi Beta here: https://vivaldi.com/blog/snapshots/snapshot-1-0-403-20-beta3-is-almost-here/

The icon for Vivaldi Snapshot is already present (`vivaldi-snapshot.svg`), but the same as `vivaldi.svg`. Should be more like the Chrome Beta icon:

![image](https://cloud.githubusercontent.com/assets/19366641/25374054/4f1c9514-299c-11e7-8fe8-2900bf517539.png)

[2017-04-28 18:29] bill-mavromatis opened #146 "Permission to link to your icon theme"
Hey Keefer,

I am writing a layout manager for GNOME and I like your icons. I hope you are OK with my script linking to your icon theme.

Here is the said script: https://github.com/bill-mavromatis/gnome-layout-manager

I will add you on the credits too, mentioning the relevant licence. Please let me know if it's fine.

Regards,
Bill

[2017-04-29 03:08] jcuenod opened #147 "Nylas Mail Changed Icon Name"
**Icon Name** has changed from `nylas` to `nylas-mail`.

[2017-05-01 15:10] keeferrourke commented on #146
Hey Bill,

Absolutely feel free to link to this theme! Sorry for the late response! It would be awesome if you did so :D

[2017-05-02 10:49] bill-mavromatis commented on #146
Thank you! I have the changes done on my testing branch, and will merge soon.

[2017-05-02 10:49] #146 closed

[2017-05-02 21:14] keeferrourke commented on #142
This should be fixed in commits ca29d149fc2d00fec4ec00829924a30f24008f3d and 0ffd452d86e4c7f94ccdca7be53c35a70a8e5931.

[2017-05-02 21:14] #142 closed

[2017-05-03 15:21] #147 closed

[2017-05-03 23:43] keeferrourke commented on #143
Hey @linusg, sorry for the super late response here. I restructured the symlinks back in commit 4f186bc6f9cad2c20d31e7198c597f5762829fd0, but only just got around to the redesign now.

Is this something like what you're looking for? Did I get the version indicator idea right? Let me know and I'll refine the design more before I finalize the commits.

`python.svg` | `python2.svg` | `python3.svg`
--

[2017-05-04 00:10] keeferrourke commented on #144
@linusg, I've simplified the original vivaldi icon to be more in line with the current logo (conveniently, it has a 45 deg shadow, just like a lot of other icons I've made!! :grin:).

See below, I will commit if you think the design is good (since I do not use the browser myself)

`vivaldi.svg` | `vivaldi-snapshot.svg`
--|--
![vivaldi](https://cloud.githubusercontent.com/assets/6888381/25686453/5c

[2017-05-04 06:34] linusg commented on #144
You got it. Awesome!
Great work Keefer, really appreciate it. Commit can come...

[2017-05-04 06:41] linusg commented on #143
This is not what I had in mind but definitively looks neat! I was thinking of  a dark indicator as with the dark python logo background of the old icon, but this is just perfect too.

Just one minor issue: could you maybe just decrease the indicator's radius so it does not touch the python's eye? Like really a little, just a few px (or whatever unit you have for your SVGs). An then move it the amo

[2017-05-04 06:44] linusg commented on #143
Eh, I meant bottom and right... you'll get what I'm trying to express here :wink:

[2017-05-04 17:28] keeferrourke commented on #144
I'll push tonight :grin: files are on my other machine :roll_eyes:

[2017-05-05 01:41] keeferrourke commented on #144
delaying to tomorrow

[2017-05-05 20:47] keeferrourke commented on #143
Updated and ready to push; sorry for the delay.

`python2.svg` | `python3.svg`
--|--
![python2](https://cloud.githubusercontent.com/assets/6888381/25763733/86ce4912-31b2-11e7-9a0d-921dce8574df.png) | ![python3](https://cloud.githubusercontent.com/assets/6888381/25763731/86b0b118-31b2-11e7-924c-dba150676e7d.png)

[2017-05-05 20:50] keeferrourke commented on #143
I may revisit this later, but will stick with this design for now. I might switch the badge to look like the chrome "beta" label but will need to be in a better state of mind for design. Perhaps sometime next week :stuck_out_tongue:

[2017-05-05 20:53] keeferrourke commented on #144
Sorry for the delay! Was using a different machine than normal, hadn't really been sleeping much, and got super busy. Enjoy the new icons :)

[2017-05-05 20:53] #144 closed

[2017-05-06 09:57] linusg commented on #143
IMHO you can leave it as it's now. Looks awesome!
![grafik](https://cloud.githubusercontent.com/assets/19366641/25771475/218f5f36-3253-11e7-91d3-c8ec8cc24276.png)

[2017-05-06 13:32] #143 closed

[2017-05-08 05:07] GNOME-IS-LIFE opened #148 "[Issue] using custom All Apps icon results in white circle"
I am trying to get a somewhat mix of a GNOME & MAC inspired look. On my way to this journey, a pothole stopped me. Since the default 9 square button of "All Apps" looks really boring, I wanted a La Capitaine style All Apps icon (will later file a request). but till then I used the rocket launcher icon from the United theme (a .svg file) and copied it into ~/.local/share/icons/La-Capitaine/actions/

[2017-05-08 05:14] GNOME-IS-LIFE opened #149 "[Request] icon for "All Apps""
in my previous Issue, i wrote how I couldn't get a custom "All Apps" icon to work properly. Hear I have a different approach. Can you AWESOME devs please integrate an All Apps icon in this icon set? I would be grateful!

[2017-05-08 06:33] linusg commented on #149
Could you please follow the example icon request [described here](https://github.com/keeferrourke/la-capitaine-icon-theme/wiki/Submitting-Icon-Requests), otherwise it's hard to start working on it.

[2017-05-08 06:36] GNOME-IS-LIFE commented on #149
ok...

[2017-05-08 06:36] #149 closed

[2017-05-08 06:50] linusg commented on #149
No need to close this, just add another comment including all the necessary information :wink:

[2017-05-08 15:24] keeferrourke commented on #148
Could you provide screenshots to better describe your issue? I'd be happy to help you.

[2017-05-18 22:18] keeferrourke commented on #148
@GNOME-IS-LIFE any word on this? I will close this issue soon if I don't hear anything from you.

[2017-05-30 04:10] 1Claude opened #151 "LibreOffice 5.3.3 icons not modified"
Hi,

I'm on Fedora 25 Workstation.

I installed LibreOffice 5.3.3 by downloading the .rpm from the LibreOffice web site.

LibreOffice suite is installed in /opt

Unlike other icons theme I tried, La Capitaine is not modifying the whole LibreOffice set of icons (Writer, Calc, Draw, etc.)

I use the Copr repository. But I also tried to just copy from Git La Capitaine in /usr/share/icons with the sam

[2017-05-30 07:28] linusg opened #152 "Some more Symlinks required for Mint"
I found some more symlinks to create on Linux Mint in order to get appropriate theming:

[code]

Basically most of these:
[code]
When including the symlinks, La Capitaine will support the following:

| Name | Before | After |
| -------- | ------------------------  | -------------------------------  |
| `mintbackup.desktop` | Y | Y |
| `mintdrivers.desktop` | Y | Y |
| `mintinstall.desktop` | N | Y

[2017-05-30 07:29] linusg commented on #151
Will [this troubleshooting guide](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/Troubleshooting.md) help you?

[2017-05-30 13:24] keeferrourke commented on #151
@1Claude you should try installing LibreOffice from the official Fedora repositories. Binaries installed from websites usually do not have *.desktop files that allow for easy theming.

LibreOffice 5.3 is not yet packaged on Fedora, but it should be soon enough if you're patient. In the meantime, either manually edit the *.desktop files located in `/usr/share/applications` according to the troubles

[2017-05-30 13:31] keeferrourke commented on #152
Damn Mint devs... `software-properties.svg` already exists, and is like the standard for pretty well every gui environment. x.x

Working on a fix now.

[2017-05-30 13:40] keeferrourke commented on #152
should be fixed.

[2017-05-30 13:40] #152 closed

[2017-05-30 13:41] keeferrourke commented on #151
Closing this because I can't do anything about it, but feel free to discuss.

[2017-05-30 13:42] keeferrourke commented on #148
I'm going to close this due to inactivity and unclarity of the original problem.

[2017-05-30 13:42] #148 closed

[2017-05-30 15:56] linusg commented on #152
I can confirm this is fixed. Thanks! :grinning: :tada:

![fixed](https://cloud.githubusercontent.com/assets/19366641/26592513/4450ab12-4561-11e7-9a15-b488e2d60a4d.png)

Regarding the USB stuff, that's why I marked all Y/Y. I looked into all the files, just to be sure before submitting the issue.

[2017-05-30 16:39] 1Claude commented on #151
Tell me why icons like Numix Circle, Paper and others  can modify LibreOffice and not La Capitaine.

That's the question.

And please, don't ask me to install an older version of LibreOfice to solve La Capitaine problem.

[2017-05-30 16:46] linusg commented on #151
See, the fault is not on La Capitaine's site. @keeferrourke already explained what to do. It must be your setup - works fine for me:

![libreoffice](https://cloud.githubusercontent.com/assets/19366641/26594415/d1450a1c-4567-11e7-9a52-61e9655b4e90.png)

To narrow down the problem, may you post the content of some LibreOffice .desktop files?
And maybe a screenshot of the icons with Numix enabled and

[2017-05-30 21:10] keeferrourke commented on #151
@1Claude please paste the content of your `libreoffice-*.desktop` files. You will likley find them under `/usr/share/applications`.

[2017-05-30 21:37] 1Claude commented on #151
What do you mean by "content" ?

By right clicking on Writer, for example, if it's what you mean, here's what I get in the /usr/share/applications

/opt/libreoffice5.3/share/xdg/writer.desktop

[2017-05-30 22:22] keeferrourke commented on #151
@1Claude a `*.desktop` file is a text file.

For instance, if your desktop file for Libreoffice Writer is located at `/opt/libreoffice5.3/share/xdg/writer.desktop`, as you say above, then paste the contents of that file here. Do the same for the other desktop files.

[2017-05-30 22:37] 1Claude commented on #151
I'm just going to paste the begining, the rest is just translation...
This is for the Writer App.

[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice5.3-writer
Type=Application
Categories=Office;WordProcessor;X-Red-Hat-Base;X-MandrivaLinux-Office-Wordprocessors;
Exec=libreoffice5.3 --writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-templat

[2017-05-30 22:41] 1Claude commented on #151
And this is for the Starter App.

[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=libreoffice5.3-startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=libreoffice5.3 %U
MimeType=application/vnd.openofficeorg.extension;x-scheme-handler/vnd.libreoffice.cmis;
Name=LibreOffice 5.3
GenericName=Office

...

StartupNotify=true

[2017-05-30 22:45] 1Claude commented on #151
My wild and total noob guess in that field... is that maybe the icon set is looking for LibreOffice* only, without any numbers at the end, like LibreOffice5.3.

[2017-05-30 22:47] keeferrourke commented on #151
yep, sorry for my initial assumptions. It does seem that Libreoffice is using new icon names for their RPM distribution. I will push a fix soon.

[2017-05-30 22:48] 1Claude commented on #151
Just glad I can help.

And find out I'm not crazy.  :-)

Le 2017-05-30 à 18:47, Keefer Rourke a écrit :

[2017-05-30 22:52] keeferrourke commented on #151
@1Claude try pulling the latest changes from git. Commit 17a5e71 should fix it :)

[2017-05-30 23:13] 1Claude commented on #151
It works!

Thanks.

Le 2017-05-30 à 18:52, Keefer Rourke a écrit :

[2017-05-31 11:42] linusg commented on #151
Please, please don't use a new icon name for every new minor version, please... @LibreOffice

[2017-05-31 13:59] #151 closed

[2017-06-05 13:36] GiBg1aN opened #153 "[File type icon] OCaml"
An icon for OCaml/SML source files(.ml) is missing.

[2017-06-05 14:40] keeferrourke commented on #153
Please follow the request format outlined in the [wiki](https://github.com/keeferrourke/la-capitaine-icon-theme/wiki/Submitting-Icon-Requests).

At a minimum, I will need to know the mimetype for the OCaml files. Probably something like `text-x-ocaml` or similar.

[2017-06-10 12:18] Garbee opened #154 "[Request] Chrome Dev Channel"
* Application name: Google Chrome Dev Channel (Unstable)
* Icon name: `google-chrome-unstable`
* Context: Internet application

Reference could simply be the existing Beta channel icon. All that is necessary is replacing `Beta` in that with `Dev` for the unstable channel.

Here is a copy of the desktop file in case it helps at all.

<details>
<summary>google-chrome-unstable.desktop</summary>

[cod

[2017-06-12 06:49] LunaticLock opened #155 "[Question] LightDM icons"
Why this icon set doesn't appear in the lightDM icons menu?

[2017-06-12 16:30] demoy commented on #118
I am sorry @keeferrourke and each KDE user, I wont complete this task. What I started as leisure now feels like work to me, combine with a feeling of dissatisfaction with my methodology. I am truly sorry for any expectation failed to be met. And shall thrive to improve upon myself in the future. I am open to questions.

[2017-06-12 20:29] keeferrourke commented on #154
Oops, I must have misunderstand "unstable" as being the beta channel rather the dev channel. I had the symlinks wrong. Check commit 36fcf7f for the updated icons :)

[2017-06-12 20:29] #154 closed

[2017-06-12 20:32] keeferrourke commented on #155
I don't personally use lightdm, so I can't answer this. You'll need to provide a lot more information if want any form of help. I would suggest you read the [Arch Wiki](https://wiki.archlinux.org/index.php/LightDM#GTK.2B_greeter) for lightdm. You likely need to specify your GTK and icon themes in your lightdm conf file. Best of luck.

[2017-06-12 20:37] keeferrourke commented on #118
@demoy honestly, no worries dude. If you could post your methodologies for for how you *were* fixing the icons for KDE, I would appreciate it &mdash; otherwise I will sift through the relevant diffs eventually. I get that we all have lives, and things get busy &mdash; La Capitaine has fallen by the way-side for me on several occasions as well. Your contributions have been significant, and you've h

[2017-06-13 09:43] #155 closed

[2017-06-13 11:30] Garbee commented on #154
Yup, updated the icon set and reloaded the selection. It's now showing the proper icon.

Thank you!

[2017-06-14 14:33] firefoxic opened #156 "Optimization of icons"
Hello!
How important is it for you to leave metadata (including grids and guides) from graphic editors in icon files? If this is not critical, then it would be possible to greatly reduce the size of these files (up to 80% sometimes).
If it's interesting, I can contribute.
There is a much more complicated option: keep the sources in the development branch, and in the master

[2017-06-14 20:46] keeferrourke commented on #156
Grid metadata isn't really all that important. I think I have up until this point been saving these files are Inkscape SVGs, but plain SVG would be a fine switch to make.

If you can help to strip the metadata from the project files to reduce the overall size this project takes in a filesystem, I'd appreciate it!

[2017-06-15 18:36] benfeatherstone opened #158 "[Request] Etcher"
Icon name: 9b523116af7c5f3f689627d267e06ad9.png

Context: Flash OS images to SD cards & USB drives

Icon reference:

![9b523116af7c5f3f689627d267e06ad9](https://user-images.githubusercontent.com/7890249/27196236-41dafdc2-51cf-11e7-8e4c-87ea26f20059.png)

**appimagekit-Etcher.desktop content**

[code]

[2017-06-15 18:46] benfeatherstone opened #159 "[Request] Retro Arch"
Icon name: retroarch

Context: Frontend for retro game emulator

Icon reference:

![retroarch](https://user-images.githubusercontent.com/7890249/27196614-ca706856-51d0-11e7-9ece-b8bba7f70e0a.png)

**retroarch.desktop content**

[code]

[2017-06-15 18:50] benfeatherstone opened #160 "[Request] Ring"
Icon name: ring

Context: SIP/softphone/VOIP phone app

Icon reference:

![ring](https://user-images.githubusercontent.com/7890249/27196742-5ce54922-51d1-11e7-9e52-581c1ee6c566.png)

**gnome-ring.desktop content**

[code]

[2017-06-15 19:04] benfeatherstone opened #161 "[Request] Synergy"
Icon name: synergy.ico

Context: Share your keyboard and mouse over a network

Icon reference:

![screenshot from 2017-06-15 14-00-47](https://user-images.githubusercontent.com/7890249/27197293-4d3cfc84-51d3-11e7-9683-f77924d5a0e5.png)

**synergy.desktop content**

[code]

[2017-06-15 19:32] firefoxic commented on #156
I use two automatic tools for optimization in different situations - svgo and svg-cleaner. But even after them, I often clean up a lot of things manually in the code. So, maybe it will not be fast, but I'll do it :)

[2017-06-15 22:27] linusg commented on #158
The ``.desktop`` file looks horrible, you may [take a look here](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/Troubleshooting.md) to understand how the theming works and works not. Same goes for some of your other Issues.

[2017-06-15 22:57] benfeatherstone commented on #158
@linusg Clearly you have never used an appimage application before. That's what Etcher is, and that's what the .desktop file looks like that it creates. I previous had ```Icon=etcher``` in there before to make it work for Numix-Circle.

Also I understand how theming works. However, the icon request instructions asked for the contents of the .desktop file. Not a modified version that might work to

[2017-06-15 23:31] linusg commented on #158
Indeed I haven't. Sorry for the confusion, and thanks for clarification :smiley:

Am I right that these paths will always contain hardcoded icon paths? If so, it might be worth adding the application(s) to [this list here](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/Troubleshooting.md#an-application-on-my-desktop-isnt-themed).

Guess it's always fine adding a new icons to L

[2017-06-16 14:26] benfeatherstone commented on #158
Yeah I am guessing that [Etcher](https://github.com/keeferrourke/la-capitaine-icon-theme/issues/158) and [Synergy](https://github.com/keeferrourke/la-capitaine-icon-theme/issues/161) would always be hard coded unless the developers change them to a better standard. (Maybe I will submit an issue on their projects as well)

It is sad that some applications hard code their icons. However, I am not op

[2017-06-16 22:15] keeferrourke commented on #156
No worries about the timeline, I'm not in any hurry to get this done, but it would be nice to have :)
Cheers mate!

[2017-06-16 22:32] keeferrourke commented on #158
Would a symlink to [Usb Creator](https://github.com/keeferrourke/la-capitaine-icon-theme/blob/master/apps/scalable/usb-creator.svg) be sufficient? I feel like most people won't have Etcher and another USB/OS-image creator app installed and actively used at the same time.
I'm not personally a huge fan of the Etcher project, so I'm not really willing to redesign the icon for it.

[2017-06-17 04:22] keeferrourke opened #162 "FEEDBACK NEEDED FOR UPCOMING RELEASE"
### I'm finally gearing up for 0.5.0 release
La Capitaine has changed significantly since 0.4.0, so I'm looking for a little feedback to be included in the upcoming release notes.

I have only extensively tested these icons under the GNOME3 Shell and (less extensively) under XFCE with the Arc GTK and Clearlooks GTK themes.

...So, what I'm wondering is, **are there any glaring issues to note befor

[2017-06-17 09:37] linusg commented on #162
Hi Keefer,
Again, I want to thank you for this beautiful icon theme! I know it's not completely made on your own, but after all you're doing the most work and maintenance here. Good job!

I use Cinnamon, and have nothing to criticize. I see La Capitaine everywhere (almost), and when I don't see them I know it's not your fault. Hardcoders, f*** you! I have only two applications having **no** icon,

[2017-06-17 18:14] keeferrourke commented on #162
@linusg Theming the Tor browser icon is difficult, because you *shouldn't* install that application from your distribution repositories. The Tor Project does some clever things to ensure anonymity and an always-up-to-date browser. I can likely provide instructions in Troubleshooting.md before I make the release &mdash; I know I had to play around with the "smart" desktop file a fair bit. I'll see

[2017-06-17 18:16] keeferrourke commented on #125
Haven't seriously done anything about this issue despite the ``priority-high'' status. I'll try to tackle this over the next few weeks before I make the 0.5.0 release as mentioned in issue #162.

[2017-06-17 18:19] keeferrourke commented on #86
I haven't seen any notable issues with various configurations on my XFCE machine. Closing this for now.

[2017-06-17 18:19] #86 closed

[2017-06-17 18:22] keeferrourke commented on #96
Icon was committed ages ago, but I neglected to update symlinks. This issue is fixed as of commit be60d3d.

[2017-06-17 18:22] #96 closed

[2017-06-17 18:30] keeferrourke commented on #108
**Clearly** this issue fell by the wayside. My apologies. Fixed as of commit 2e096b3.

[2017-06-17 18:30] #108 closed

[2017-06-17 18:30] linusg commented on #162
Fine, I didn't have installed it from the repos! Uncompressed and moved to home dir, done. If you need any help with the tray icons, let me know. I would be glad to help. (And currently, I have the time for it :wink: )

[2017-06-17 19:19] keeferrourke commented on #156
@firefoxic I created a new branch for this issue: [la-capitaine-icon-theme:svgcleaner](https://github.com/keeferrourke/la-capitaine-icon-theme/tree/svgcleaner). Feel free to submit pull requests to that branch! :)

I also installed svgcleaner from cargo, for the purpose of local testing and cleaning. But this is low on my priority-list for time management.

[2017-06-19 14:28] benfeatherstone commented on #158
I think that a symlink to USB Creator would be fine for this application. Although Ubuntu Gnome comes with a startup disk creator by default that uses the same icon already. Sorry to hear you don't like the project though.

[2017-06-19 14:36] benfeatherstone commented on #159
I am not going to be picky since you are the designer and it's your project, so a symlink would work for this one as well. However, something that resembled an old arcade cabinet would be cool and might be more retro. I am not a designer, so whatever is going to compliment the overall looks of the theme works for me.

[2017-06-19 15:44] keeferrourke commented on #158
Added an `etcher.svg` file. I think this is the best I can do, you'll need to edit your desktop file to show the correct icon.

[2017-06-19 15:44] #158 closed

[2017-06-19 15:52] keeferrourke commented on #159
![retroarch](https://user-images.githubusercontent.com/6888381/27293827-87f9d7ec-54e5-11e7-8789-8baedd406806.png)
`retroarch.svg` added in commit https://github.com/keeferrourke/la-capitaine-icon-theme/commit/5c4b34915e0930ff39ea22eb47fbcf23e0cbbc18

[2017-06-19 15:52] #159 closed

[2017-06-24 16:47] handrake0724 opened #168 "add StarUML icon support"
It would appreciated to add StarUML supprot in the icon theme.
StarUML file extension is .mdj

![appshell256](https://user-images.githubusercontent.com/18005991/27510268-32c1a996-5948-11e7-9f59-be6fce3b3609.png)

[2017-06-24 17:59] cjdm commented on #162
First of all, thanks for this icon theme, I've been using it for a little while —since the release of Gnome 3.22 in Arch.
A couple of days ago I noticed that some symlinks were broken:
![one](https://user-images.githubusercontent.com/29413765/27510591-32f6bda4-58e2-11e7-846e-fd476e5dbdf2.png)
![two](https://user-images.githubusercontent.com/29413765/27510594-423e3ef4-58e2-11e7-9947-bbf2f62257a6.pn

[2017-06-25 21:19] keeferrourke commented on #162
@cjdm I will take a look at this, thanks for pointing it out :)

[2017-06-25 21:20] keeferrourke commented on #168
The file extension is not enough. I need the mimetype.

[2017-06-25 22:11] handrake0724 commented on #168
mime type is application/octet-stream

[2017-06-25 23:23] keeferrourke commented on #168
If the mimetype is not properly recognized as an unique type, then I cannot add an icon for it, sorry. Reach out to whatever project uses StarUML files and make the case that they get their file mimetypes added to `/etc/mime.types` and `/usr/share/mime`.

[2017-06-25 23:23] #168 closed

[2017-06-27 18:02] fcole90 commented on #34
👍

[2017-06-27 18:08] fcole90 opened #169 "Support for folders colors"
Folder color is an app that allows the user to customise folder colors according to his/her needs and preferences. It would be great if La Capitaine could support it.

How it looks and how to try it:
http://www.omgubuntu.co.uk/2017/06/quickly-change-folder-color-ubuntu

Project page:
http://foldercolor.tuxfamily.org

How to add theme support:
http://bazaar.launchpad.net/~costales/folder-color/trun

[2017-06-27 18:20] keeferrourke commented on #169
This is a duplicate issue. See https://github.com/keeferrourke/la-capitaine-icon-theme/issues/127.

Basic Folder Color support is already integrated. Closing.

[2017-06-27 18:20] #169 closed

[2017-06-29 08:02] rzlx commented on #162
Hello keefe, thank you for this beautiful icon packs. I absolutely love it. But there's a problem. The battery, wifi, and volume indicator did not match with the panel.
![2017-06-29-142115_1366x768_scrot](https://user-images.githubusercontent.com/29770791/27677258-295291fe-5cdb-11e7-96c5-d7272c3fe055.png)

I'm using Manjaro 17 LXDE. This is the only bug that I found. Other than that, everything is

[2017-06-30 17:33] now-im commented on #162
Maybe this is me neat picking too much, there is some inconsistency in qt icons. They are not visible to common users but developers need them. I will be providing any information necessary.
DE: KDE
![spectacle b19041](https://user-images.githubusercontent.com/22009014/27747342-84f2f14a-5dec-11e7-9f54-2c93ea12d5da.png)

[2017-07-01 09:43] weltenweber opened #170 "[Request] Gnome ToDo"
Icon name: org.gnome.Todo
Context: Todo-List application

Icon reference:
![image](https://user-images.githubusercontent.com/15271679/27760879-3bc7f9fa-5e52-11e7-9766-ee44c04d21ec.png)

org.gnome.Todo.desktop content:

[code]

Thanks for an amazing icon theme and considering this request!

[2017-07-01 17:11] RaitaroH commented on #114
So, discord is available on Linux. It needs an icon. I found an svg already here: https://track3.mixtape.moe/evrlkr.svg
I think it needs a little alignment though. I will attach a zip with a modified version.
[discord.svg.zip](https://github.com/keeferrourke/la-capitaine-icon-theme/files/1117293/discord.svg.zip)